<hr/>

<div class="row max-width justify-content-start">

  <div class="sized-box-width-20"></div>

  <div class="col">
    <button (click)="add()" style="padding: 5px 20px;" mat-raised-button color="primary">
      <mat-icon> add</mat-icon>
      <span>Add New ServiceModel</span>
    </button>

    <div class="sized-box-height-40"></div>

  </div>
</div>

<div *ngIf="loading" class="col justify-content-center vh-80">
  <mat-spinner></mat-spinner>
</div>


<div *ngFor="let service of services">
  <app-service-configuration-view [service]="service"></app-service-configuration-view>
</div>

<app-notification></app-notification>
