<div class="col justify-content-center header-wrapper">

  <div class="sized-box-height-20"></div>

  <p class="header"> {{'services.title' | translate}} </p>

  <div class="sized-box-height-10"></div>

  <p class="sub-header"> {{'services.subTitle' | translate}} </p>

  <div class="sized-box-height-20"></div>
</div>

<div class="row card-wrapper flex-1">

  <app-cartel-paginator [itemsPerPage]="3" class="max-width">

    <ng-container *ngFor="let service of services;">

      <ng-container *appCartelPageItem>
        <app-service-flip-card
          [service]="service"
          [barbers]="barbers"
          [priceList]="getPriceList()">

        </app-service-flip-card>
      </ng-container>

    </ng-container>
  </app-cartel-paginator>

</div>

<div class="sized-box-height-20"></div>


