/*// calendar*/
.date-picker-wrapper {
  width: 40%;
  margin: auto;

  -webkit-box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.75);
}

.first-row, .second-row {
  display: flex;
  justify-content: space-evenly;

  background-color: #212121;
  color: #EEEEEE;
}

.second-row {
  background-color: #212121;
}

.third-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px 20px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.form-field {
  width: 204px;
}

.months {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.day {
  background: transparent;
  border: none;

  padding: 10px 0;

  width: 100%;

  color: #EEEEEE;
  cursor: pointer;

  font: normal normal normal 18px/20px Roboto;
}

.day:focus {
  border: none;
  outline: none;

  background-color: #EEEEEE;
  color: #212121;

  transition: 0.2s;
}

.hour {
  background: transparent;

  justify-self: center;
  align-self: center;

  padding: 10px 0;
  border: 1px solid #212121;
  border-radius: 5px;

  width: 100%;

  color: #212121;
  cursor: pointer;

  font: normal normal normal 18px/20px Roboto;
}

::ng-deep .mat-calendar-body-selected {
  background-color: rgba(255, 255, 255, 0.64) !important;
  color: #212121;
}

.booked {
  /* make text inside transparent*/
  color: #EEEEEE;
  background-color: #212121;
}


