<ul class="row nav justify-content-center align-items-center">
  <li [routerLink]="'/team'"> {{ 'home.navigation.team' | translate}} </li>
  <li [routerLink]="'/services'"> {{ 'home.navigation.services' | translate}} </li>
  <li [routerLink]="'/store'"> {{ 'home.navigation.store' | translate}} </li>
  <li [routerLink]="'/contacts'"> {{ 'home.navigation.contacts' | translate}} </li>
  <li (click)="changeLang()">{{translate.currentLang}}</li>

  <li *ngIf="isAdmin" style="cursor: pointer;" [routerLink]="'/configuration/general'">
    <mat-icon> settings </mat-icon>
  </li>
  <li *ngIf="isAdmin" style="cursor: pointer;" (click)="logout()">
    <mat-icon> logout </mat-icon>
  </li>
</ul>

