.nav {
  list-style-type: none;
  padding: 0;
}

.nav > li {
  padding: 20px;
  font: Bold 18px/20px Roboto;
  letter-spacing: 0;
  color: #FFFFFFB3;
  text-transform: uppercase;
}

.nav > li:hover {
  color: whitesmoke;
  cursor: pointer;
}

.nav > li:focus {
  outline: none;
}

