.service {
  width: 653px;
  justify-self: center;
  align-self: center;

  padding: 20px;

  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;

  cursor: pointer;

  border: 3px solid  var(--main-color);
}

.service:hover {
  transition: 0.2s;
  background-color: var(--main-color);
}

.type, .price, .duration, .separator {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130.9%;
}

.separator {
  padding: 0 20px;
}
