<div class="col flex-1 align-items-center">

  <div *ngFor="let element of serviceViewArray" (click)="next(element)">
    <div class="service">
      <div class="row justify-content-space-between align-items-center">
        <span class="type">{{element.service.serviceTitle | language}}</span>

        <div class="row align-items-center">

          <span class="duration">{{element.assignment.duration}} {{'booking.minutes' | translate}}</span>
          <span class="separator"> | </span>
          <span class="price">{{element.assignment.price}} {{'booking.bgn' | translate}}</span>
        </div>
      </div>
    </div>

    <div class="sized-box-height-10"></div>
  </div>

</div>
