.team-card-wrapper {
  /*width: 60%;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-buttons-container {
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-button_true {
  margin: 0 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;

  /*background: rgb(147, 147, 147);*/
  /*background: radial-gradient(circle,*/
  /*rgba(74, 74, 74, 0.92) 90%,*/
  /*rgba(79, 79, 80, 0.8547794117647058) 50%,*/
  /*rgba(114, 114, 115, 0.8715861344537815) 16%,*/
  /*rgba(147, 147, 147, 0.9023984593837535) 0%);*/

  /*background-color: rgba(49, 43, 57, 0.52);*/
  background-color: var(--main-color);
  cursor: pointer;
  transition: 0.5s;
}

.navigation-button_false {
  margin: 0 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: var(--main-color) radial-gradient(circle, transparent 1%,
  white 1%) center/15000%;
}

@media (max-width: 1800px) {
  .team-card-wrapper {
    width: 80%;
  }
}

@media (max-width: 1600px) {
  .team-card-wrapper {
    width: 80%;
  }
}

@media (max-width: 1300px) {
  .team-card-wrapper {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .team-card-wrapper {
    width: 30%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .team-card-wrapper {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .team-card-wrapper {
    width: 75%;
  }
}

.next, .prev {
  position: absolute;
  top: 40%;
  color: white;

  border: none;
  background: transparent;
  cursor: pointer;

  margin: 0 10px 0 10px;

  font-size: 50px;

  text-align: center;
  transition: 0.1s;
}

.next:hover, .prev:hover {
  color: var(--main-color);
  transition: 0.1s;
}

.next {
  right: 0;
}

.prev {

  left: 0;
}

.paginator {
  position: relative;
  width: 100%;
}
