.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.drawer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-icon {
  cursor: pointer;
}

.toolbar {
  background-color: #1a1a1a;
}

.toolbar-profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid whitesmoke;
  background-size: cover;
}

.profile-name {
  margin: 0 0 0 20px;
}

.instagram-icon {
  padding: 30px 50px;
  /*background-color: whitesmoke;*/
}

.header {
  text-align: center;
  display: flex;
  /*padding: 40px 0;*/
}

.separator {
  display: inline-flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.separator::before, .separator::after {
  content: '';
  padding: 0 40px;
  /*border-bottom: 2px solid #ae9774;*/
  background: linear-gradient(to left, rgb(115, 103, 62) 0%, rgb(133, 122, 67) 16%, rgb(151, 151, 76) 50%, rgb(198, 187, 99) 90%);
  height: 2px;
  /*transition: 1s;*/
}

.separator::after {
  background: linear-gradient(to right, rgb(115, 103, 62) 0%, rgb(133, 122, 67) 16%, rgb(151, 151, 76) 50%, rgb(198, 187, 99) 90%);
}

.separator::before {
  margin-right: .25em;
}

.separator::after {
  margin-left: .25em;
}

.header-title {
  letter-spacing: 5px;
  color: whitesmoke;
  text-align: left;
  margin-top: 0;
}

.info-content {
  /*border: 1px solid red;*/
}


.edit-button {
  color: #1a1a1a;
  background-color: #ae9774;
  width: 100%;
}

.edit-button2 {
  width: 100%;
}

.edit-button3 {
  color: #1a1a1a;
  background-color: #ae9774;
  width: 150px;
}


.picture2 {
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #2f2f2f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}

.content {
  /*border: 1px solid yellow;*/
  display: flex;
}

.color-black{
  color: #1a1a1a;
}

input:disabled {
  color: #1a1a1a;
}

.profile-picture{
  /*border: 1px solid blue;*/

}

.picture {
  width: 150px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #2f2f2f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-info {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.example-full-width{
  width: 100%;
}

.underline{
  background: linear-gradient(to right, rgb(115, 103, 62) 0%, rgb(133, 122, 67) 16%, rgb(151, 151, 76) 50%, rgb(198, 187, 99) 90%);
  padding-bottom: 2px;
}

.description{
  height: 120px;
  resize: none;
}

.upload-button{
  margin: 20px 0;
  width: 100%;
  background-color: #ae9774;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
  /*background-color: #ae9774;*/
  /*color: whitesmoke;*/
  /*cursor: pointer;*/
  /*display: inline-block;*/
  /*padding: 10px 40px;*/
  opacity: 0;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
  background-color: #f15d22;
}

[type="file"]:focus + label {
  outline: 1px dotted #000;
}

.flex {
  /*display:grid;*/
  /*grid-template-columns: 700px 1fr;*/
  /*grid-gap: 20px;*/
  display:flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

.flex > mat-card {
  margin: 20px 0;
}

.align-services{
  text-align: center;
}

.service {
  display: flex;
  justify-content: center;
}

.service-col{
  margin-right: 10px;
}

.align-action-buttons{
  text-align: right;
}

.align-action-buttons > button {
  width: 100%;
}

.add-button{
  background-color: #ae9774;
}

.price,
.duration{
  width: 70px;
}

.flex-grid {
  display: flex;
  align-content: center;
}

