<div class="light-theme" #profileWrapper>
  <mat-sidenav-container class="drawer-container" (backdropClick)="close()">

    <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>


      <div class="flex-col">
        <button mat-button style="display: flex; justify-content: space-between;">
          <mat-icon> settings</mat-icon>
          Configuration
        </button>
        <button mat-button style="display: flex; justify-content: space-between;">
          <mat-icon> calendar_today</mat-icon>
          Calendar
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>

      <!--    TOOLBAR-->
      <mat-toolbar class="toolbar">
        <mat-toolbar-row>
          <mat-icon (click)="sidenav.open()"> menu</mat-icon>
          <span class="example-spacer"></span>

          <div class="toolbar-profile-info">
            <!--          <div class="profile-img" [style.background-image]="'url(\'../../assets/images/logo.png\')'"></div>-->

            <!--          <div class="profile-name"> {{ barber.name }} </div>-->
            <mat-slide-toggle (toggleChange)="changeTheme()"> dark - mode</mat-slide-toggle>
            <mat-icon (click)="logout()">exit_to_app</mat-icon>
          </div>

        </mat-toolbar-row>
      </mat-toolbar>

      <div class="flex">

        <mat-card class="instagram-icon">
          <div class="header">
            <h1 class="header-title">PROFILE INFO</h1>
            <span class="example-spacer"></span>
            <div class="light-theme">
              <button mat-raised-button class="edit-button" (click)="edit()" *ngIf="!isEditable; else save">
                <mat-icon> edit</mat-icon>
              </button>

              <ng-template #save>
                <button mat-raised-button class="edit-button2" (click)="edit()" color="warn">
                  <mat-icon> save</mat-icon>
                </button>
              </ng-template>
            </div>
          </div>

          <div class="info-content">

            <div class="content">
              <div class="profile-picture">

                <img class="picture" src="{{barber?.picture}}"/>

                <div class="light-theme">

                  <input type="file" id="file" (change)="onFileChanged($event)" #chooseFile/>
                  <label for="file">choose a file</label>

                  <button mat-raised-button class="edit-button" (click)="onUpload()" [disabled]="!isEditable">
                    <mat-icon *ngIf="isFileSelected; else not"> cloud_upload</mat-icon>

                    <ng-template #not>
                      <mat-icon>folder_open</mat-icon>
                    </ng-template>
                  </button>
                </div>
              </div>

              <div class="light-theme content-info">
                <div class="forms">
                  <mat-form-field class=" example-full-width" appearance="outline">
                    <mat-label>Firstname</mat-label>
                    <input matInput [disabled]="!isEditable" [(ngModel)]="barber.firstName">
                  </mat-form-field>

                  <mat-form-field class=" example-full-width" appearance="outline">
                    <mat-label>Lastname</mat-label>
                    <input matInput [disabled]="!isEditable" [(ngModel)]=" barber.lastName">
                  </mat-form-field>


                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea class="description" matInput [disabled]="!isEditable"
                              [(ngModel)]="barber.description"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>


          </div>

        </mat-card>

        <mat-card class="services">

          <mat-card-content class="services-container light-theme">
            <div *ngFor="let service of services">
              <!--            {{service.name}}-->

              <div *ngIf="!service.deleted" class="flex-grid">

                <div class="another-col">
                  <img class="picture2" src="{{service?.picture}}"/>

                  <input type="file" id="img" (change)="onFileChangedService($event, service)" #chooseFile2/>
                  <label for="img">choose a file</label>

                  <button mat-raised-button class="edit-button3" (click)="onUploadService(service)"
                          [disabled]="!isEditable">
                    <mat-icon *ngIf="isFileSelected; else not"> cloud_upload</mat-icon>

                    <ng-template #not>
                      <mat-icon>folder_open</mat-icon>
                    </ng-template>
                  </button>
                </div>

                <div class="another-col">
                  <div class="service">
                    <mat-form-field class="service-col" appearance="outline">
                      <mat-label>Service</mat-label>
                      <input matInput type="text" [(ngModel)]="service.serviceType" [disabled]="!isEditable">
                    </mat-form-field>

                    <mat-form-field class="service-col price" appearance="outline">
                      <mat-label>Price</mat-label>
                      <input matInput type="text" [(ngModel)]="service.priceBGN" [disabled]="!isEditable">
                    </mat-form-field>

                    <mat-form-field class="service-col duration" appearance="outline">
                      <mat-label>Duration</mat-label>
                      <input matInput type="number" [(ngModel)]="service.duration" [disabled]="!isEditable">
                    </mat-form-field>

                    <button class="service-col" mat-button matSuffix mat-icon-button aria-label="Clear"
                            (click)="deleteService(service)" [disabled]="!isEditable">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>

                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea class="description" matInput [disabled]="!isEditable"
                              [(ngModel)]="service.description"></textarea>
                  </mat-form-field>
                </div>


              </div>

            </div>

          </mat-card-content>

          <mat-card-actions class="align-action-buttons">
            <button mat-raised-button color="warn" class="add-button" (click)="addService()" [disabled]="!isEditable">
              add
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
