<div class="light-theme">

  <div class="container-wrapper">
    <div class="container">
      <mat-toolbar class="toolbar height-50">
        <h2>Configuration Panel</h2>
      </mat-toolbar>

      <div class="row content-wrapper">
        <div class="drawer">

          <div class="go-home" [routerLink]="'/'">
            <mat-icon> home </mat-icon>
            <div class="sized-box-width-10"></div>
            <h2> Home </h2>
          </div>

          <ul id="nav">
            <li id="general" class="row justify-content-center space-between-5 height-50 selected"
                (click)="setTab('general')">
              <mat-icon>settings</mat-icon>
              <h2>General</h2>
              <div class="sized-box-width-100"></div>
            </li>

            <li id="barbers" class="row justify-content-center space-between-5 height-50" (click)="setTab('barbers')">
              <mat-icon>groups</mat-icon>
              <h2>Barbers</h2>
              <div class="sized-box-width-100"></div>
            </li>

            <li id="services" class="row justify-content-center space-between-5 height-50" (click)="setTab('services')">
              <mat-icon>menu_book</mat-icon>
              <h2>Services</h2>
              <div class="sized-box-width-100"></div>
            </li>

            <li id="store" class="row justify-content-center space-between-5 height-50" (click)="setTab('store')">
              <mat-icon>shopping_cart</mat-icon>
              <h2>Store</h2>
              <div class="sized-box-width-100"></div>
            </li>
          </ul>

        </div>
        <div class="content">
          <div class="content-container">
            <p style="margin-top: 20px; color: #707070;"> Configuration > <span style="color:#2e2e2e;"> {{tab}} </span>
            </p>

            <ng-container [ngSwitch]="tab">
              <app-general-configuration *ngSwitchCase="'general'"></app-general-configuration>
              <app-barber-configuration *ngSwitchCase="'barbers'"></app-barber-configuration>
              <app-services-configuration *ngSwitchCase="'services'"></app-services-configuration>
              <app-store-configuration *ngSwitchCase="'store'"></app-store-configuration>
            </ng-container>

            <div class="footer-fixer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
