<section>
  <div class="title-wrapper">
    <p> barbers </p>
  </div>

  <app-barber-paginator [data]="data" [numberOfPages]="3"> </app-barber-paginator>

  <div class="footer">

    <div class="footer-info">

      <div class="footer-icons">

        <img class="social-icons" src="../../assets/images/facebook-icon.png"/>
        <img class="social-icons" src="../../assets/images/instagram-icon.png"/>
      </div>

      <p class="footer-text">
        14 Ivan N. Momchilov Street // 5000 Kartala,
        Veliko Tarnovo TUESDAY THROUGH FRIDAY 10 — 7 // SATURDAY 10 — 5 // PHONE 088 881 4999
      </p>

      <div class="space"></div>
    </div>
  </div>
</section>
