<section>
  <div class="title-wrapper">
    <p> {{'services.title' | translate}} </p>
    <p> {{'services.subTitle' | translate}} </p>
  </div>

  <div class="service-card-wrapper">
    <div class="service-card" *ngFor="let service of services">

      <img src="{{service?.picture}}" style="width: 100%; height: auto" alt="Image">

      <div class="card-title">
        <span> {{service.price}} лв.</span>
        <span class="separator"> | </span>
        <span> {{service.duration}} мин.</span>
      </div>

      <div class="card-content">
        {{service.serviceType}}
        <br><br>
        И сигурно някъкво описание тук, но от къде ще идва?
      </div>

      <div class="card-action-buttons">
        <button><span>{{'bookingMessage' | translate}}</span></button>
      </div>
    </div>
  </div>

  <app-barber-footer-info class="sticky-footer"> </app-barber-footer-info>
</section>


