<section>
  <div class="title-wrapper">
    <p> {{'services.title' | translate}} </p>
    <p> {{'services.subTitle' | translate}} </p>
  </div>

  <div class="service-card-wrapper">
    <div class="service-card" *ngFor="let i of [1,2,3,4]">

      <img class="card-header-image" src="../../assets/images/haircut.png"/>

      <div class="card-title">
        <span> 15 BGN </span>
        <span class="separator"> | </span>
        <span> 40 min</span>
      </div>

      <div class="card-content">
        Modern man's haircut and styling from our professional Barbers.
      </div>

      <div class="card-action-buttons">
        <button><span>{{'bookingMessage' | translate}}</span></button>
      </div>
    </div>
  </div>

  <app-barber-footer-info class="sticky-footer"> </app-barber-footer-info>
</section>


