<section>
  <div class="title-wrapper">
    <p> we offer YOU the best services </p>
    <p> Modern man's haircut and styling from our professional Barbers. </p>
  </div>

  <div class="service-card-wrapper">
    <div class="service-card" *ngFor="let i of [1,2,3,4]">

      <img class="card-header-image" src="../../assets/images/haircut.png"/>

      <div class="card-title">
        <span> 15 BGN </span>
        <span class="separator"> | </span>
        <span> 40 min</span>
      </div>

      <div class="card-content">
        Modern man's haircut and styling from our professional Barbers.
      </div>

      <div class="card-action-buttons">
        <button><span>book now</span></button>
      </div>
    </div>
  </div>

  <div class="footer">

    <div class="footer-info">

      <div class="footer-icons">

        <img class="social-icons" src="../../assets/images/facebook-icon.png"/>
        <img class="social-icons" src="../../assets/images/instagram-icon.png"/>
      </div>

      <p class="footer-text">
        14 Ivan N. Momchilov Street // 5000 Kartala,
        Veliko Tarnovo TUESDAY THROUGH FRIDAY 10 — 7 // SATURDAY 10 — 5 // PHONE 088 881 4999
      </p>

      <div class="space"></div>
    </div>
  </div>

</section>
