* {
  margin: 0;
  padding: 0;
}

section {
  background: #EEEEEE 0 0 no-repeat padding-box;

  display: grid;
  grid-template-rows: 1fr 2fr 125px 1fr;


  position: relative;
}

.external-nav {
  display: -webkit-box;
  justify-content: center;
  align-items: center;
}

.external-nav > li {
  font: Bold 15px/17px Roboto;
  display: inline;
  padding: 20px;
  letter-spacing: 0;
  color: #FFFFFFB3;
  text-transform: uppercase;
  height: 37px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-left: 138px;
  width: 201px;
  height: 200px;
}

.external-header > .logo {
  width: 100px;
  height: 100px;
}

.external-header {
  display: flex;
  justify-content: space-between;
  align-content: center;

  padding: 25px 0;

  background-color: #212121;
}

.external-nav {
  display: -webkit-box;
  justify-content: center;
  align-items: center;
}

.title-wrapper > p:nth-child(1) {
  text-align: center;
  font: normal normal bold 25px/54px Roboto;
  letter-spacing: 0;
  color: #000000;
  text-transform: uppercase;
}

.title-wrapper > p:nth-child(2) {
  text-align: center;
  font: normal normal normal 25px/24px Roboto;
  letter-spacing: 0.3px;
  color: #000000B3;
  opacity: 1;
}

.service-card-wrapper {
  display: flex;
  margin: 0 auto;

  width: 80%;
}

.service-card {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #000000B3;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  margin: 0 50px;
}

.service-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.service-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header-image {
  background: transparent url('../../assets/images/haircut.png ') 0 0 no-repeat padding-box;
  background-size: contain;
  border-radius: 8px;
  width: 100%;

  margin-bottom: 10px;
}

.card-title {
  text-align: center;
  font: normal normal bold 17px/30px Roboto;
  letter-spacing: 0;
  color: #413F3F;
}

.card-content {
  font: normal normal normal 18px/20px Roboto;
  letter-spacing: 0.3px;
  color: #000000B3;

  padding: 20px;

  width: 80%;
  text-align: left;
  margin: auto;
}

.card-action-buttons {
  text-align: center;

  margin: 20px;
}

.card-action-buttons > button {
  padding: 5px 50px;

  background: #2B2B2B 0 0 no-repeat padding-box;
  box-shadow: 0 2px 2px #000000;

  text-align: center;
  font: normal normal bold 15px/27px Roboto;
  letter-spacing: 0;
  color: #FFFFFF;

  border: none;
  border-radius: 10px;

  text-transform: uppercase;
}

.separator {
  opacity: 0.2;
}

.sticky-footer {
  grid-row: 4;
}

@media (max-width: 1200px) {
  main {
    flex-direction: column;
    grid-template-rows: 200px 1fr 130px;
  }

  .service-card-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  main {
    flex-direction: column;
    grid-template-rows: 200px 1fr 130px;
  }

  .service-card-wrapper {
    display: inline;
    /*width: 40%;*/
  }

  .title-wrapper {
    width: 450px;
    margin: auto;
  }

  .card-action-buttons {
    padding: 20px;
  }

  .card-action-buttons > button {
    font-size: 12px;
  }

  .footer-info {
    display: flex;
    flex-direction: column-reverse;

    height: 130px;
  }

  .footer-icons {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .social-icons {
    margin: 0;
  }
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    grid-template-rows: 200px 1fr 130px;
  }


  .title-wrapper {
    width: 340px;
    margin: auto;
  }

  .title-wrapper > p:nth-child(1) {
    font-size: 20px;
  }

  .title-wrapper > p:nth-child(2) {
    font-size: 20px;
  }

  .card-action-buttons {
    padding: 10px;
  }

  .card-action-buttons > button {
    font-size: 12px;

    padding: 5px 30px;
  }

  .footer-info {
    display: flex;
    flex-direction: column-reverse;

    height: 130px;
  }

  .footer-icons {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .social-icons {
    margin: 0;
  }
}
