<div class="container">

  <!-- //TODO:  I think we can load all images beforehand and then just switch them when needed -->
  <div class="item-content"  [style.backgroundImage]="'url(' + background + ')'">
    <div class="item-header">

      <div class="col max-height padding-sides">
        <nav class="row justify-content-space-between align-items-center">

          <img loading="lazy" class="logo-home" [routerLink]="'home'" src="../../../assets/images/logo.png"/>

          <app-compact-navbar></app-compact-navbar>

          <app-navigation></app-navigation>

        </nav>
      </div>

    </div>

    <div class="col max-width justify-center">
      <div class="sized-box-height-50" ></div>
      <div [@TransitionFade]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </div>

  <div class="item-footer col justify-content-center" style="color: white">
    <div class="row">

      <img (click)="toFacebook()" class="icon" src="../../../assets/images/design/icon-facebook.png"/>
      <img (click)="toInstagram()" class="icon" src="../../../assets/images/design/icon-instagram.png"/>
      <img class="icon" [routerLink]="'contacts'" src="../../../assets/images/design/icon-email.png"/>
      <img class="icon" [routerLink]="'contacts'" src="../../../assets/images/design/icon-phone.png"/>
      <img class="icon" [routerLink]="'contacts'" src="../../../assets/images/design/icon-location.png"/>

    </div>

    <div class="sized-box-height-10"></div>

    <div class="row">
      <span class="footer-text"> Защита на личните данни </span>
      <span class="footer-text"> Условия за ползване </span>
      <span class="footer-text"> Условия за проверителност </span>
    </div>
  </div>
</div>
