.container {
  min-width: 100%;
  /*min-height: 100%;*/
}

.inputs-wrapper {
  width: 100%;
  height: 100%;

  margin-top: 90px;
}

.inputs-wrapper > mat-form-field {
  width: 95%;
}

.example-button-row button {
  width: 40%;
}

.flex-box-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.form-wrapper {
  margin: auto;
  width: 328px;
}

.logo-wrapper {
  margin: auto;
  width: 254px;
  /*height: 254px;*/
  text-align: center;
}

.logo {
  width: 254px;
  /*height: 254px;*/
}

.cartel-theme .mat-error {
  color: #f44336;
}

h1 {
  font-size: 72px;
  text-align: center;
  color: white;
  letter-spacing: 4px;
}

.action-buttons {
  height: 54px;
  width: 341px;
  margin: auto;

  text-align: center;
}

.login-button {
  background: #616463 0 0 no-repeat padding-box;
  box-shadow: 0 2px 2px #0000003D;
  border: 3px solid #EEF1F3;
  border-radius: 2px;

  width: 341px;
  height: 54px;

  transition: 0.3s;
  color: #CDD2D1;
}

.login-button:hover {
  background: #EEF1F3 0 0 no-repeat padding-box;
  transition: 0.3s;
  cursor: pointer;
  color: #b2b7b6;
}

.login-text {
  text-align: center;
  font: 23px Montserrat;
  letter-spacing: 0;

  opacity: 1;
  width: 88px;
  height: 29px;
  text-transform: uppercase;
}

input::placeholder {
  text-align: left;
  font: 23px Montserrat;
  letter-spacing: 0;
  color: #EEF1F3;
  text-transform: uppercase;
  opacity: 1;
}

.forgot-pass-text {
  font: 23px Montserrat;
  letter-spacing: 0;
  color: #FFFFFF4D;

  text-align: center;

  margin-top: 43px;
}

.forgot-pass-text:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
}

.footer-text {
  display: flex;
  justify-content: center;
}

.footer-text > span {
  font: 23px Montserrat;
  letter-spacing: 0;
  color: #FFFFFF4D;
  padding: 0 10px;
}

.footer-text > a {
  text-align: center;
  font: Bold 20px/24px Montserrat;
  letter-spacing: 0;
  color: #FFFFFFB3;
  text-transform: uppercase;
}

.footer-text > a:link {
  text-decoration: none;
}

.footer-text > a:visited {
  text-decoration: none;
}

.wrapper {
  margin: auto;
  /*width: 30%;*/
  padding-top: 137px;
}

@media screen and (max-height: 811px), (orientation: portrait) {
  .wrapper {
    margin: auto;
    padding-top: 35px;
  }
}

@media screen and (max-width: 400px), (orientation: portrait) {
  .login-button {
    width: 290px;
  }

  .remember-me-wrapper {
    width: 290px;
  }

  .form-wrapper {
    width: 290px;
  }

  .action-buttons {
    width: 290px;
  }

  .footer-text {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 120px;
  }

  .logo-wrapper {
    width: 120px;
  }
}

@media screen and (max-width: 280px) {
  .login-button {
    width: 200px;
  }

  .remember-me-wrapper {
    width: 200px;
  }

  .form-wrapper {
    width: 200px;
  }

  .action-buttons {
    width: 200px;
  }

  .footer-text {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 120px;
  }

  .logo-wrapper {
    width: 120px;
  }
}
