<div class="container cartel-theme">
  <div class="wrapper">
    <div class="logo-wrapper">
      <img class="logo" src="../../assets/images/logo.png">
    </div>

    <form class="form-wrapper">
      <div class="inputs-wrapper">
        <mat-form-field>
          <input matInput placeholder="USERNAME" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="PASSWORD" [formControl]="passwordFormControl">
          <mat-error *ngIf="invalidLogin" >Incorrect username or password</mat-error>
        </mat-form-field>
      </div>

      <!--    <div class="action-buttons">-->
      <!--      <button mat-stroked-button color="warn" (click)="login()"> login</button>-->
      <!--    </div>-->
    </form>

    <section class="remember-me-wrapper">
      <mat-checkbox class="checkbox-text">Remember me</mat-checkbox>
    </section>

    <div class="action-buttons">
      <button class="login-button" (click)="login()">
        <span class="login-text">
           login
        </span>
      </button>
    </div>

    <p class="forgot-pass-text"> Forgot password ?</p>

    <div class="footer-text">
      <span> Do you have an account?</span>
      <a href="/register">sign up</a>
    </div>
  </div>
</div>
