<div class="container">
  <!--  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>-->
    <mat-card class="wrapper">

      <div class="logo-wrapper">
        <img class="logo" src="../../assets/images/logo.png">
      </div>

      <form>
        <div class="example-full-width">
          <mat-form-field>
            <input matInput placeholder="Email" [formControl]="emailFormControl"
                   [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl]="passwordFormControl">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="action-buttons">

          <button mat-raised-button color="primary" (click)="login()"> login </button>
        </div>

      </form>

      <br/>

    </mat-card>
</div>
