<div class="wrapper">
  <div class="google-maps-wrapper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.934352608158!2d25.621553915847837!3d43.08487547914494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a927765ef32eb1%3A0x4951137eda837927!2sBarbershop%20Cartel%20Club!5e0!3m2!1sen!2sbg!4v1584120117889!5m2!1sen!2sbg"
            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>

  <div class="contacts-wrapper">
      <div class="contact-box">
        <div class="contacts-logo">
          <img src="../../../assets/images/logo.png"/>
        </div>

        <div class="contact-info">
          <div class="info-row"> <mat-icon>phone</mat-icon> 088 881 4999 </div>
          <div class="info-row"> <mat-icon>email</mat-icon> cartelbarbershopbg@gmail.com </div>
          <div class="info-row"> <mat-icon>home</mat-icon> Иван Момчилов 14 Veliko Tarnovo, Bulgaria </div>
        </div>
      </div>
  </div>

</div>
