<div class="row flex-space-between padding-20 border-top">

  <div class="col">

    <img class="social-icons" src="../../../../assets/images/facebook-icon.png"/>

    <div class="sized-box-height-20"></div>

    <img class="social-icons" src="../../../../assets/images/instagram-icon.png"/>
  </div>

  <div class="col justify-content-center">
    <p class="footer-text">
      {{'footer.title' | translate}}
    </p>

    <div class="sized-box-height-20"></div>

    <p class="footer-text">
      {{'footer.subTitle' | translate}}
    </p>

  </div>

  <div class="sized-box-width-10"></div>
</div>
