<hr/>

<div class="row max-width justify-content-start">

  <div class="col">
    <div class="sized-box-height-40"></div>

    <h1 class="margin-bottom-10"> Choose barber </h1>

    <mat-form-field appearance="outline">
      <mat-select [(value)]="selectedBarberId">
        <mat-option [value]="0"> -- Please select -- </mat-option>

        <mat-option *ngFor="let barber of barbers"
                [value]="barber.id"> {{barber.firstName + ' ' + barber.lastName}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<app-assignment-view *ngIf="selectedBarberId" [barberId]="selectedBarberId"></app-assignment-view>

