<hr/>
<div *ngFor="let email of emails">

  <mat-grid-list class="margin-top-20" cols="4" rowHeight="150px">

    <mat-grid-tile [colspan]="2" [rowspan]="4">

      <div class="col padding-20 max-height">

        <h1 class="margin-bottom-10"> {{ labels.get(email.emailType).header | translate }}</h1>
        <p class="pre-line"> {{ labels.get(email.emailType).description | translate }} </p>
      </div>

    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="4">

      <div class="col padding-20 max-height max-width">

        <h2 class="margin-bottom-10"> {{ 'configuration.emails.from' | translate }} </h2>

        <div class="row justify-content-center margin-bottom-10">
          <input disabled type="text" class="text-input max-width" [(ngModel)]="email.from" maxlength="100"/>
        </div>

        <h2 class="margin-bottom-10">  {{ 'configuration.emails.subject' | translate }}  </h2>

        <div class="row justify-content-center margin-bottom-10">
          <input type="text" class="text-input max-width" [(ngModel)]="email.subject[this.language]" maxlength="100"/>
        </div>

        <h2 class="margin-bottom-10">  {{ 'configuration.emails.message' | translate }}  </h2>

        <div class="row margin-bottom-10 symbol-counter">
              <textarea class="message-input max-width"
                        [(ngModel)]="email.text[this.language]"
                        rows="15" cols="50"
                        name="comment"
                        maxlength="255">
              </textarea>
          <div class="label font-size-small" >{{email.text[this.language]?.length}} / 255</div>
        </div>
        <button mat-stroked-button color="accent" (click)="saveEmailMessages()">
          <mat-icon>save</mat-icon>
          {{ 'configuration.save' | translate }}
        </button>
      </div>
    </mat-grid-tile>

  </mat-grid-list>

  <hr>

</div>

<app-notification></app-notification>
