
<div *ngFor="let email of emails">

  <mat-grid-list class="margin-top-20" cols="4" rowHeight="150px">

    <mat-grid-tile [colspan]="2" [rowspan]="2">

      <div class="col padding-20 max-height">

        <h1 class="margin-bottom-10"> Booking confirmation email message</h1>
        <p> You can specify the text of the email message that the system sends when creating a reservation.
        </p>

      </div>

    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="4">

      <div class="col padding-20 max-height max-width">

        <h2 class="margin-bottom-10"> From </h2>

        <div class="row justify-content-center">
          <input disabled type="text" class="text-input max-width" [(ngModel)]="email.from"/>
        </div>

        <br/>

        <h2 class="margin-bottom-10"> Subject </h2>

        <div class="row justify-content-center">
          <input type="text" class="text-input max-width" [(ngModel)]="email.subject"/>
        </div>

        <br/>

        <h2 class="margin-bottom-10"> Message </h2>

        <div class="row margin-bottom-10">
              <textarea class="front-page-message-input max-width" [(ngModel)]="email.text" rows="15" cols="50"
                        name="comment"></textarea>
        </div>
        <button mat-stroked-button color="accent" (click)="saveEmailMessages()">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </div>
    </mat-grid-tile>

  </mat-grid-list>

  <hr>

</div>

<app-notification></app-notification>
