section {
  background: #EEEEEE 0 0 no-repeat padding-box;
  min-height: 100%;
}

.logo {
  height: 100%;
}

.navigation {
  padding: 20px;
  height: 50px;
}

.steps-parent {
  list-style-type: none;
}

.steps-parent {
  display: flex;
  margin: auto;
  width: 400px;

  justify-content: space-evenly;
}

.external-header {
  display: flex;
  justify-content: space-between;
  align-content: center;

  padding: 10px 0;

  background-color: #212121;
}

.external-header > .logo {
  width: 100px;
  height: 100px;

  cursor: pointer;
}

.one:hover, .two:hover, .three:hover, .four:hover {
  color: #EEEEEE;
  background-color: #212121;
  transition: 0.5s;
  cursor: pointer;

  text-decoration: none;
}

.barber {
  font: normal normal normal 18px/20px Roboto;

  height: 300px;
  width: 29%;
  /*margin: 10px 20px;*/
  padding: 10px;
  background: transparent;

  cursor: pointer;

  border: 1px solid transparent;
}

.shadow {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(33,33,33,0.16);
  box-shadow: 5px 5px 5px 0px rgba(33,33,33,0.16);
}

.barber:hover {
  border: 1px solid #212121;
  transition: 0.2s;
}

.barber-image {
  width: 100%;
  height: 100%;

  /*background: url('../../assets/images/barber.png');*/
  background-size: cover;
  background-repeat: no-repeat;
}

#clicked {
  color: #EEEEEE;
  background-color: #212121;
}

.one, .two, .three, .four {
  padding: 10px;
  border: 2px solid #212121;
}

.service {
  justify-self: center;
  align-self: center;

  padding: 50px;

  background-color: #212121;
  color: whitesmoke;

  cursor: pointer;
}

.duration {
  padding: 0 20px;
}

.price {
  font-weight: bold;
}

a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span {
  position: relative;
  z-index: 2;
}

a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #212121;
  transition: all .35s;
}

a:hover {
  color: #EEEEEE;
}

a:hover:after {
  width: 100%;
}

.final-info-container {
  width: 30%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 400px;
  border-radius: 5px;
  padding: 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
}

.confirm-button {
  background-color: #385898;
  padding: 20px 0;
  cursor: pointer;
  border: none;
  color: #EEEEEE;
}

.done {
  /*font-size: 50px;*/
  color: #81c519;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.done > .mat-icon {
  height: 100px;
  width: 100px;

  border: 5px solid;
  border-radius: 100px;

  font-size: 100px;
}

#active {
  transition: 0.5s;
  border: none;
  border-bottom: 1px solid black;
}

.underline {
  border-bottom: 1px solid black;
  width: 100%;
}

.separator {
  color: grey;
}

.breadcrumb {
  justify-content: center;
  align-items: center;
}

.breadcrumb-links {
  background: transparent;
  border: none;

  border-bottom: 1px solid transparent;

  cursor: pointer;
}

.breadcrumb-links:focus {
  outline: none;
}

.breadcrumb-links, .separator {
  font: normal normal bold 15px/15px Roboto;
  letter-spacing: 1px;
  padding:10px;
}

.picture {
  height: 100%;

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

  overflow: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.barber-wrapper {
  width: 60%;
  flex-wrap: wrap;
}

.name {
  background: #212121;
  color: whitesmoke;

  padding: 20px 0;

  font: normal normal bold 15px/15px Roboto;
}

.hover-me {
  width: 33%;
  padding: 10px;

  border: 1px solid transparent;
  transition: 0.2s;
}

.hover-me:hover {
  border:1px solid #212121;
}
