<div class="sized-box-height-10"></div>

<form class="col" [formGroup]="passwordForm">
  <input hidden type="text" autocomplete="username" value="">

  <mat-form-field appearance="outline">
    <mat-label>Old password</mat-label>
    <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword" autocomplete="old-password">
    <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideOld">
      <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="oldPassword.invalid && oldPassword.touched">* Old password cannot be empty</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="max-width">
    <mat-label>New password</mat-label>
    <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword"
           autocomplete="new-password">
    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideNew">
      <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="newPassword.errors?.required && newPassword.touched">* New password cannot be empty</mat-error>
    <mat-error *ngIf="newPassword.errors?.match">* New password matches old password</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="max-width">
    <mat-label>Confirm password</mat-label>
    <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"
           autocomplete="confirm-password">
    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirm">
      <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="confirmPassword.errors?.required">* Confirm password password cannot be empty</mat-error>
    <mat-error *ngIf="confirmPassword.errors?.noMatch">* Does not match with new password</mat-error>

  </mat-form-field>

</form>

<div class="sized-box-height-20"></div>

<div class="row justify-content-end">
  <button style="padding: 5px 20px;" mat-raised-button color="warn" (click)="changePassword()"
          [disabled]="passwordForm.invalid">
    <span>Change password</span>
  </button>
</div>


<app-notification></app-notification>
