<div class="sized-box-height"></div>

<h2 class="margin-bottom-10"> Change password </h2>

<div class="row margin-bottom-10">
  <input placeholder="Old password" [(ngModel)]="oldPassword" type="password" class="text-input max-width"/>
</div>

<div class="row margin-bottom-10">
  <input placeholder="New password" [(ngModel)]="newPassword" type="password" class="text-input max-width"/>
</div>

<div class="row margin-bottom-10">
  <input placeholder="Confirm new password" [(ngModel)]="confirmPassword" type="password" class="text-input max-width"/>
</div>

<div class="row">
  <button style="padding: 5px 20px;" mat-raised-button color="warn" (click)="changePassword()">
    <span>Change password</span>
  </button>
</div>
<app-notification></app-notification>
