<div class="sized-box-height-10"></div>

<form class="col" [formGroup]="passwordForm">
  <input hidden type="text" autocomplete="username" value="" maxlength="100">

  <mat-form-field appearance="outline">
    <mat-label>{{ 'configuration.general.old_password' | translate }}</mat-label>
    <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword" autocomplete="old-password" maxlength="50">
    <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'configuration.general.hide_password' | translate"
            [attr.aria-pressed]="hideOld">
      <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="oldPassword.invalid && oldPassword.touched">{{ 'configuration.general.old_password_error' | translate }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="max-width">
    <mat-label>{{ 'configuration.general.new_password' | translate }}</mat-label>
    <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword"
           autocomplete="new-password" maxlength="50">
    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'configuration.general.hide_password' | translate"
            [attr.aria-pressed]="hideNew">
      <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="newPassword.errors?.required && newPassword.touched">{{ 'configuration.general.new_password_error1' | translate }}</mat-error>
    <mat-error *ngIf="newPassword.errors?.match">{{ 'configuration.general.new_password_error2' | translate }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="max-width">
    <mat-label>{{ 'configuration.general.confirm_password' | translate }}</mat-label>
    <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"
           autocomplete="confirm-password" maxlength="50">
    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'configuration.general.hide_password' | translate"
            [attr.aria-pressed]="hideConfirm">
      <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="confirmPassword.errors?.required">{{ 'configuration.general.confirm_password_error1' | translate }}</mat-error>
    <mat-error *ngIf="confirmPassword.errors?.noMatch">{{ 'configuration.general.confirm_password_error2' | translate }}</mat-error>

  </mat-form-field>

</form>

<div class="sized-box-height-20"></div>

<div class="row justify-content-end">
  <button style="padding: 5px 20px;" mat-raised-button color="warn" (click)="changePassword()"
          [disabled]="passwordForm.invalid">
    <span>{{'configuration.general.change_password' | translate}}</span>
  </button>
</div>


<app-notification></app-notification>
