<hr>

<div class="row max-width justify-content-end">
  <div class="sized-box-width-20"></div>

  <button (click)="openServiceDialog(services)" style="padding: 5px 20px;" mat-raised-button color="primary">
    <mat-icon>add</mat-icon>
    <span>Add New Service</span>
  </button>
</div>

<div class="sized-box-height-40"></div>

<div class="row max-height max-width">
  <!--column 1-->
  <div class="col flex-1">
    <div class="col max-height max-width">
      <div class="row max-width">
        <div class="col max-width">

          <h1 class="margin-bottom-10"> Choose barber </h1>

          <select class="dropdown margin-bottom-10" name="barbers" id="barbers" (change)="loadServices(select.value)"
                  #select>

            <option *ngFor="let barber of barbers"
                    value="{{barber.id}}"> {{barber.firstName + ' ' + barber.lastName}} </option>

          </select>

          <p> Pick a barber to see his services. Services are displayed on the right side.</p>
        </div>

        <div class="sized-box-width-100"></div>
      </div>
    </div>
  </div>

  <!--column 2-->
  <div class="col flex-2">

    <div class="col max-width" *ngFor="let service of services">
      <div class="row max-width align-items-start margin-bottom-10">

        <div class="col flex-2">
          <h2 class="margin-bottom-10">Service</h2>
          <input class="text-input" [(ngModel)]="service.serviceType" type="text"/>
        </div>

        <div class="sized-box-width-20"></div>

        <div class="col">
          <h2 class="margin-bottom-10"> Duration </h2>

          <div class="row">
            <input id="{{'duration'+service.id}}" [(ngModel)]="service.duration" type="number" class="text-input"
                   step="30"
                   min="0" max="60" #duration/>

            <div class="col">
              <button class="increment-btn" (click)="incrementDuration(service)"> +</button>
              <button class="decrement-btn" (click)="decrementDuration(service)"> -</button>
            </div>
          </div>
        </div>

        <div class="sized-box-width-20"></div>

        <div class="col">
          <h2 class="margin-bottom-10">Price</h2>

          <div class="row">
            <div class="row" style="position: relative">
              <input id="{{'price'+service.id}}" [(ngModel)]="service.price" type="number" class="text-input" step="1"
                     min="0"
                     max="300" #price/>

              <span class="currency"> {{currency}} </span>
            </div>

            <div class="col">
              <button class="increment-btn" (click)="incrementPrice(service)"> +</button>
              <button class="decrement-btn" (click)="decrementPrice(service)"> -</button>
            </div>

            <div class="col max-height justify-content-center">
              <button (click)="save(service)" mat-button color="accent">
                <mat-icon #tooltip="matTooltip"
                          matTooltip="Save"
                          [matTooltipPosition]="'left'"> save
                </mat-icon>
              </button>
              <button (click)="delete(service)" class="service-col" mat-button matSuffix mat-icon-button
                      aria-label="Clear"
                      color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</div>

<app-notification></app-notification>
