/* You can add global styles to this file, and also import other style files */


* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #212121;
}

.h1, .h2 {
  line-height: 1.5;
  color: #2e2e2e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

hr {
  margin: 24px 0;
  border-top: 1px solid #e1e1e1
}

h1 {
  font-weight: 600;
  font-size: 1.3125rem;
}

h2 {
  font-size: .875rem;
}

.padding-20 {
  padding: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

h2 {
  font-weight: 500;
  font-size: 1rem;
}

.right-col {
  border: 1px solid green;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.flex-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
  align-items: center;
}

.space-between-5 > * {
  margin: 0 5px 0 5px;
}

.max-height {
  height: 100%;
}

.max-width {
  width: 100%;
}

.sized-box-width-10 {
  width: 10px;
}

.sized-box-width-20 {
  width: 20px;
}

.sized-box-width-40 {
  width: 40px;
}

.sized-box-width-100 {
  width: 100px;
}

.sized-box-height-20 {
  height: 20px;
}

.sized-box-height-40 {
  height: 40px;
}

.sized-box-height-50 {
  height: 50px;
}

.height-50 {
  height: 50px;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.flex-revert {
  flex-direction: revert;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.display-none {
  display: none;
}

.vh-80 {
  height: 80vh;
}

.compact-navigation {
  background-color: #212121;
  height: 150px;
}

.logo:hover {
  cursor: pointer;
}

.logo:focus {
  outline: none;
}

.header {
  font: normal normal bold 25px/34px Roboto;
  letter-spacing: 0;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

.sub-header {
  text-align: center;
  font: normal normal normal 20px/14px Roboto;
  letter-spacing: 0.3px;
  color: #000000B3;
  opacity: 1;
}


