@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-green, 700, 800, 50);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

.light-theme {
  @include angular-material-theme($candy-app-theme);

  .mat-dialog-container::ng-deep {
    background-color: whitesmoke !important;
  }
}

// CARTEL  $base-palette, $default: 500, $lighter: 100, $darker: 700, $text: $default
$cartel-primary: mat-palette($mat-gray, 700, 700, 700, 700);
$cartel-warn: mat-palette($mat-gray, 50, 50, 50, 50);

$cartel-theme: mat-dark-theme($cartel-primary, $cartel-primary, $cartel-primary);

.cartel-theme {

  @include angular-material-theme($cartel-theme);

  .mat-form-field-infix {
    color: #EEF1F3;
  }
}

.new-design-theme {
  $mat-primary: (
    main: #864a37,
    lighter: #dbc9c3,
    darker: #693223,
    200: #864a37, // For slide toggle,
    contrast : (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    )
  );
  $theme-primary: mat-palette($mat-primary, main, lighter, darker);

  $mat-accent: (
    main: #797979,
    lighter: #d7d7d7,
    darker: #5c5c5c,
    200: #797979, // For slide toggle,
    contrast : (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    )
  );

  $theme-accent: mat-palette($mat-accent, main, lighter, darker);

  $mat-warn: (
    main: #ff0000,
    lighter: #ffb3b3,
    darker: #ff0000,
    200: #ff0000, // For slide toggle,
    contrast : (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    )
  );
  $theme-warn: mat-palette($mat-warn, main, lighter, darker);

  $theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
  $altTheme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

  @include angular-material-theme($theme);
}
