<div class="col flex-1 align-items-center">
  <div class="row max-width">

    <app-cartel-paginator [itemsPerPage]="3" class="max-width">

      <ng-container *ngFor="let barber of barbers;">

        <ng-container *appCartelPageItem>
             <div class="flip-card-hover">
               <app-barber-flip-card [barber]="barber" [noFlip]="true" (click)="next(barber)" > </app-barber-flip-card>
             </div>
        </ng-container>

      </ng-container>
    </app-cartel-paginator>
  </div>
</div>
