<form class="col" [formGroup]="emailForm">
  <mat-form-field appearance="outline">
    <mat-label> {{ 'configuration.general.email_label' | translate }}</mat-label>
    <input matInput formControlName="emailControl" autocomplete="email" value="{{email}}">
    <button mat-icon-button matSuffix>
    </button>
    <mat-error *ngIf="emailControl.invalid">{{ 'configuration.general.change_email_invalid' | translate }}</mat-error>
  </mat-form-field>

  <div class="row justify-content-end">
    <button style="padding: 5px 20px;" mat-raised-button color="warn" (click)="changeEmail()"
            [disabled]="emailForm.invalid">
      <span> {{ 'configuration.general.change_email' | translate }} </span>
    </button>
  </div>
</form>

<app-notification></app-notification>
