/*// calendar*/
.calendar {
  min-width: 440px;
  max-width: 26%;
  margin: auto;

  padding: 20px;

  background-color: transparent;
}

.first-row, .second-row {
  display: flex;
  justify-content: space-evenly;

  background-color: #212121;
  color: #EEEEEE;
}

.second-row {
  background-color: #212121;
}

.third-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px 20px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.form-field {
  width: 204px;
}

.months {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.day {
  background: transparent;
  border: none;

  height: 100%;
  border-radius: 5px;

  color: var(--main-color);
  cursor: pointer;

  padding: 10px 0;

  font: normal normal normal 18px/20px Roboto;

  position: relative;
}

#selected {
  border: none;
  outline: none;

  color: var(--main-color);

  transition: 0.2s;
}

.hour {
  height: 50px;
  width: 25%;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booked {
  /* make text inside transparent*/
  color: #EEEEEE;
  background-color: #212121;
}

.calendar-navigation {
  border: 3px solid var(--main-color);
  padding: 5px 15px 10px 15px;
}

.hours {
  flex-wrap: wrap;
}

.time {
  color: white;
  border: 2px solid white;

  width: 90px;

  cursor: pointer;
  background-color: transparent;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.time:hover{
  color: var(--main-color);
  border: 2px solid var(--main-color);
  transition: 0.2s;
}

.hr {
  border: 1px solid black;
  margin: 2px 0;
}

.today-indicator {
  position: absolute;
  bottom: -4px;
  left: 46%;

  font-size: 20px;
}

.selected-day {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #FFFFFF;
  width: 50%;
  margin: auto;

  text-align: center;

  padding: 10px 0;
}

.arrows, .date-banner {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
}

.week-day, .weekend, .not-available-msg {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;

  cursor: pointer;
}

.week-day:hover, .weekend:hover {
  color: var(--main-color);
}

.weekend {
  font-weight: bold;
}

.hours-wrapper {
  border: 3px solid var(--main-color);
}

.not-available-msg {
  padding: 0 10px;
}
