<div class="calendar">
  <!--      this will hold the months-->
  <div class="col calendar-navigation">

    <div class="row flex-space-between">
      <div>
        <button class="arrows" mat-icon-button (click)="previousWeek()" [disabled]="isPreviousWeekButtonDisabled">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>

      <div class="row justify-content-center date-banner">
        <span> {{firstDateOfFirstWeek | date: 'MMMM yyyy'}} </span>
      </div>

      <div>
        <button class="arrows" mat-icon-button (click)="nextWeek()" [disabled]="isNextWeekButtonDisabled">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="row">
      <ng-container *ngFor="let day of week; let i = index">

        <div class="col flex-1">
          <div  class="col align-items-center" (click)="getHoursForDay(day)">
            <span id="{{day.active}}" [ngClass]="isWeekend(day.date) ? 'weekend' : 'week-day'" >{{ getDayFromDate(day.date) }}</span>
          </div>

          <!--          <hr class="hr"/>-->

          <button class="day flex-1 col justify-content-center">

            <!--            <span class="col justify-content-center">-->
            <!--              <span>{{day.date | date : 'd'}}</span>-->
            <!--            </span>-->

            <span class="today-indicator" *ngIf="day.today">{{' &bull; '}}</span>
          </button>


        </div>

      </ng-container>
    </div>

  </div>

  <div class="sized-box-height-20"></div>

  <div class="col hours-wrapper">

    <div class="selected-day">
      {{today | date:'dd MMM'}}
    </div>

    <!--this will hold the hours-->
    <div *ngIf="hours.length == 0" class="not-available-msg">
      <p><b>{{'booking.no_available_appointments' | translate}}</b></p>
    </div>

  <div class="row hours" >
    <div *ngFor="let hour of hours" class="hour">
      <button class="time" (click)="next(hour.substring(0, 5))">
        {{hour.substring(0, 5)}}
      </button>
    </div>

    <div class="sized-box-height-20"></div>
  </div>
</div>
