<div class="calendar">
  <!--      this will hold the months-->
  <div class="col calendar-navigation">

    <div class="row flex-space-between">
      <div>
        <button mat-icon-button (click)="previousWeek()" [disabled]="disablePreviousWeekButton()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>

      <div class="row justify-content-center">
        <span> {{week?.days[0].date | date: 'MMMM yyyy'}} </span>
      </div>

      <div>
        <button mat-icon-button (click)="nextWeek()" [disabled]="disableNextWeekButton()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="row">
      <ng-container *ngFor="let day of week?.days; let i = index">

        <div class="col flex-1">
          <div class="col align-items-center">
            <span >{{day.date | date : 'EEE'}}</span>
          </div>

          <hr class="hr"/>

          <button id="{{day.active}}" class="day flex-1 col justify-content-center"
                  (click)="getHoursForDay(day)">

            <span class="col justify-content-center">
              <span>{{day.date | date : 'd'}}</span>
            </span>

            <span class="today-indicator" *ngIf="day.today">{{' &bull; '}}</span>
          </button>


        </div>

      </ng-container>
    </div>

  </div>

  <div class="selected-day">
    {{today | date}}
  </div>

  <!--this will hold the hours-->
  <div *ngIf="hours.length == 0">
    <p><b>No available appointments for today.</b></p>
  </div>

  <div class="row hours" >
    <div *ngFor="let hour of hours" class="hour">
      <button class="time" (click)="next(hour.time.substring(0, 5))">
        {{hour.time.substring(0, 5)}}
      </button>
    </div>
  </div>
</div>
