<div class="light-theme">

  <div class="container-wrapper">
    <div class="container">
      <mat-toolbar class="toolbar height-50">
        <h2> {{ 'configuration.title' | translate }}</h2>

        <mat-button-toggle-group (change)="changeLang($event)" [(ngModel)]="language">
          <mat-button-toggle value="bg">BG</mat-button-toggle>
          <mat-button-toggle value="en">EN</mat-button-toggle>
        </mat-button-toggle-group>

      </mat-toolbar>

      <div class="row content-wrapper">
        <div class="drawer">

          <div class="go-home" [routerLink]="'/'">
            <mat-icon> home</mat-icon>
            <div class="sized-box-width-10"></div>
            <h2>  {{ 'configuration.tabs.home' | translate }} </h2>
          </div>

          <div [routerLink]="'/configuration/general'" [routerLinkActive]="['selected']"
               class="row justify-content-center space-between-5 remove-focus height-50 unselectable">
            <mat-icon>settings</mat-icon>
            <h2> {{ 'configuration.tabs.general' | translate }}</h2>
            <div class="sized-box-width-100"></div>
          </div>

          <div [routerLink]="'/configuration/barbers'" [routerLinkActive]="['selected']"
               class="row justify-content-center space-between-5 remove-focus height-50 unselectable">
            <mat-icon>groups</mat-icon>
            <h2> {{ 'configuration.tabs.barbers' | translate }}</h2>
            <div class="sized-box-width-100"></div>
          </div>

          <div [routerLink]="'/configuration/services'" [routerLinkActive]="['selected']"
               class="row justify-content-center space-between-5 remove-focus height-50 unselectable">
            <mat-icon>menu_book</mat-icon>
            <h2> {{ 'configuration.tabs.services' | translate }}</h2>
            <div class="sized-box-width-100"></div>
          </div>

          <div [routerLink]="'/configuration/assignments'" [routerLinkActive]="['selected']"
               class="row justify-content-center space-between-5 remove-focus height-50 unselectable">
            <mat-icon>assignment</mat-icon>
            <h2> {{ 'configuration.tabs.assignments' | translate }}</h2>
            <div class="sized-box-width-100"></div>
          </div>

          <div [routerLink]="'/configuration/store'" [routerLinkActive]="['selected']"
               class="row justify-content-center space-between-5 remove-focus height-50 unselectable">
            <mat-icon>shopping_cart</mat-icon>
            <h2> {{ 'configuration.tabs.store' | translate }}</h2>
            <div class="sized-box-width-100"></div>
          </div>

          <div class="go-home" (click)="logout()">
            <mat-icon> logout</mat-icon>
            <div class="sized-box-width-10"></div>
            <h2>  {{ 'configuration.tabs.logout' | translate }} </h2>
          </div>

        </div>
        <div class="content">
          <div class="content-container">
<!--            <router-outlet></router-outlet>-->
            <div [@TransitionFade]="prepareRoute(outlet)">
              <router-outlet #outlet="outlet"></router-outlet>
            </div>
            <div class="footer-fixer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
