.toolbar {
  background-color: #2e2e2e;
  font-weight: 400;

  font-size: 18px;
  color: white;

  justify-content: space-between;
}

.go-home {
  display:flex;
  align-items: center;
  cursor: pointer;
  height: 60px;
  width: 100%;
  background-color: #fafafa;

  padding-left: 5px;
  color: #2e2e2e;
}

.go-home:active, .go-home:focus {
  outline: none;
}

.go-home:hover{
  background-color: #f0f0f0;
}

.go-logout {
  cursor: pointer;
  transition: 0.5s;
  width: 25px;
  overflow: hidden;
}

.margin-left-10 {
  margin-left: 10px
}

.go-logout:hover {
  width: 100px;
  transition: 0.5s;
}

.sticky-drawer {
  position: fixed;
  left: 0;
  top: 0;

  background-color: #fafafa;
}

#box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;

}

.box .row.footer {
  flex: 0 1 40px;
}

.footer-fixer {
  height: 100px;
}

div.selected:focus{
  outline-width: 0px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
