<div id="calendar-page" [class.fullscreen]="fullscreen">
  <button id="fullscreen-button" mat-icon-button (click)="toggleFullscreen()">
    <mat-icon color="primary"> {{fullscreen ? 'close_fullscreen' : 'open_in_full'}}</mat-icon>
  </button>

  <div class="row text-center">

    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-select [(value)]="selectedBarberIndex" (selectionChange)="change()">

          <mat-option *ngFor="let barber of barberDropdowns; let i = index"
                      [value]="i"> {{barber.label}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle           mwlCalendarPreviousView
                                     [view]="view"
                                     [(viewDate)]="viewDate"
                                     (viewDateChange)="closeOpenMonthViewDay()"
                                     value="Previous">Previous</mat-button-toggle>
        <mat-button-toggle
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          value="Today">Today</mat-button-toggle>
        <mat-button-toggle
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          value="Next">Next</mat-button-toggle>
        <mat-button-toggle>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <br/>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      weekStartsOn="1"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [dayStartHour]="7"
      [dayEndHour]="19"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [dayStartHour]="8"
      [dayEndHour]="19"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>
