<div class="row justify-content-center">
  <div class="row flex-1 justify-content-end">
    <img class="brush" src="assets/images/design/brush.png" />
    <div class="sized-box-width-40"></div>
    <div class="sized-box-width-40"></div>
  </div>

  <div class="row flex-1 justify-content-center">
    <div class="col">
      <img class="horizontal-logo" src="assets/images/design/horizontal-logo.png" />
      <div class="sized-box-height-20"></div>
      <div class="row justify-content-end">
        <button class="book-now-btn" (click)="book()"> {{'bookingMessage' | translate}} </button>
      </div>
    </div>
  </div>
</div>
