.brush {
  width: 500px;
  height: 802px;
}

.horizontal-logo {
  width: 628px;
  height: 251px;
}

.book-now-btn {
  width: 378px;
  height: 87px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
  background: var(--main-color);

  border: none;

  text-transform: uppercase;
}

