<hr>

<mat-grid-list class="margin-top-20" cols="4" rowHeight="70px">
  <!--        column 1-->
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <div class="col padding-20 max-height">

      <h1 class="margin-bottom-10"> Administrator email </h1>
      <p> This is the administrators email. Please be aware that changing the email will log you out. </p>
    </div>
  </mat-grid-tile>
  <!--        column 2-->
  <mat-grid-tile [colspan]="2" [rowspan]="3">
    <div class="col padding-20 max-height max-width">

      <h2 class="margin-bottom-10"> Change email </h2>

      <app-change-email [email]="email"></app-change-email>

    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="margin-top-20" cols="4" rowHeight="150px">
  <!--        column 1-->
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <div class="col padding-20 max-height">

      <h1 class="margin-bottom-10"> Administrator password </h1>
      <p> This is the administrators password. You can change it to anything you like at any time. </p>
    </div>
  </mat-grid-tile>
  <!--        column 2-->
  <mat-grid-tile [colspan]="2" [rowspan]="3">
    <div class="col padding-20 max-height max-width">

      <div class="sized-box-height-20"></div>

      <h2 class="margin-bottom-10"> Change password </h2>

      <app-password></app-password>

    </div>
  </mat-grid-tile>
</mat-grid-list>

<hr>

<mat-grid-list class="margin-top-20" cols="4" rowHeight="150px">

  <mat-grid-tile [colspan]="2" [rowspan]="2">

    <div class="col padding-20 max-height">

      <h1 class="margin-bottom-10"> Front-page message </h1>
      <p> This is the message on the home page that people see. It's above the book-now button. You can change it
        anytime here.</p>

    </div>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="3">
    <div class="col padding-20 max-height max-width">
      <h2 class="margin-bottom-10"> Message </h2>

      <div class="row margin-bottom-10">
        <textarea class="preserve-whitespace front-page-message-input max-width" [(ngModel)]="frontPageMessage"
                  rows="15" cols="50"
                  name="comment"></textarea>
      </div>

      <button class="row" mat-stroked-button color="accent" (click)="saveFrontPageMessage()">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>

  </mat-grid-tile>
</mat-grid-list>

<hr>

<mat-grid-list class="margin-top-20" cols="4" rowHeight="150px">

  <mat-grid-tile [colspan]="2" [rowspan]="2">

    <div class="col padding-20 max-height">

      <h1 class="margin-bottom-10"> Appointment success message </h1>
      <p> This is the at the last step of booking process. It's about completing the appointment. You can change it
        anytime here.</p>

    </div>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="3">
    <div class="col padding-20 max-height max-width">
      <h2 class="margin-bottom-10"> Message </h2>

      <div class="row margin-bottom-10">
              <textarea class="front-page-message-input max-width" [(ngModel)]="appointmentMessage" rows="15" cols="50"
                        name="comment"></textarea>
        <!--        <div class="sized-box-width-100"></div>-->
      </div>
      <button mat-stroked-button color="accent" (click)="saveAppointmentMessage()">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
  </mat-grid-tile>

</mat-grid-list>

<hr>

<mat-grid-list class="margin-top-20" cols="4" rowHeight="150px">

  <mat-grid-tile [colspan]="2" [rowspan]="2">

    <div class="col padding-20 max-height">

      <h1 class="margin-bottom-10"> Social media</h1>
      <p> Set up the links that lead up to the barbershop's social media pages.</p>

    </div>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <div class="col padding-20 max-height max-width">
      <h2 class="margin-bottom-10"> Facebook </h2>

      <div class="row justify-content-center">
        <div class="sized-box-width-100">
          <img class="social-icons" src="../../assets/images/facebook-icon.png"/>
        </div>
        <input [(ngModel)]="socialMedia.facebook" type="text" class="text-input max-width"/>
      </div>

      <div class="sized-box-height-20"></div>

      <h2 class="margin-bottom-10"> Instagram </h2>

      <div class="row justify-content-center margin-bottom-10">
        <div class="sized-box-width-100">
          <img class="social-icons" src="../../assets/images/instagram-icon.png"/>
        </div>
        <input [(ngModel)]="socialMedia.instagram" type="text" class="text-input max-width"/>
      </div>
      <button mat-stroked-button color="accent" (click)="saveSocialMedia()">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>


  </mat-grid-tile>

</mat-grid-list>

<hr>

<mat-grid-list class="margin-top-20" cols="4">

  <mat-grid-tile [colspan]="2" [rowspan]="2">

    <div class="col padding-20 max-height">

      <h1 class="margin-bottom-10"> Contact info</h1>
      <p> All info like city, address, phone can be set up here to be publicaly exposed</p>

    </div>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <div class="col padding-20 max-width max-height">

      <h2 class="margin-bottom-10"> City </h2>
      <div class="row justify-content-center">
        <input [(ngModel)]="contactInfo.city" type="text" class="text-input max-width"/>
      </div>
      <div class="sized-box-height-20"></div>

      <h2 class="margin-bottom-10"> Address </h2>
      <div class="row justify-content-center">
        <input [(ngModel)]="contactInfo.address" type="text" class="text-input max-width"/>
      </div>
      <div class="sized-box-height-20"></div>

      <h2 class="margin-bottom-10"> Phone number </h2>
      <div class="row justify-content-center">
        <input [(ngModel)]="contactInfo.phoneNumber" type="text" class="text-input max-width"/>
      </div>
      <div class="sized-box-height-20"></div>
      <button mat-stroked-button color="accent" (click)="saveContactInfo()">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>


  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <div *ngIf="gitInfo$ | async as gitInfo">
      <p>Branch : {{ gitInfo.gitBranch }}</p>
      <p>BuildTime : {{ gitInfo.gitBuildTime }}</p>
      <p>GitCommitId : {{ gitInfo.gitCommitId }}</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<app-notification></app-notification>
