<mat-grid-list class="margin-top-20" cols="4" rowHeight="70px">
  <!--        column 1-->
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <div class="col padding-20 max-height">

      <h1 class="margin-bottom-10"> {{ 'configuration.general.admin_email' | translate }}  </h1>
      <p> {{ 'configuration.general.admin_email_description' | translate }} </p>
    </div>
  </mat-grid-tile>
  <!--        column 2-->
  <mat-grid-tile [colspan]="2" [rowspan]="3">
    <div class="col padding-20 max-height max-width">

      <h2 class="margin-bottom-10"> {{ 'configuration.general.change_email' | translate }} </h2>

      <app-change-email [email]="email"></app-change-email>

    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="margin-top-20" cols="4" rowHeight="150px">
  <!--        column 1-->
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <div class="col padding-20 max-height">

      <h1 class="margin-bottom-10"> {{ 'configuration.general.admin_password' | translate }} </h1>
      <p> {{ 'configuration.general.admin_password_description' | translate }} </p>
    </div>
  </mat-grid-tile>
  <!--        column 2-->
  <mat-grid-tile [colspan]="2" [rowspan]="3">
    <div class="col padding-20 max-height max-width">

      <div class="sized-box-height-20"></div>

      <h2 class="margin-bottom-10"> {{ 'configuration.general.change_password' | translate }} </h2>

      <app-password></app-password>

    </div>
  </mat-grid-tile>
</mat-grid-list>

<hr>

<mat-grid-list class="margin-top-20" cols="4" rowHeight="150px">

  <mat-grid-tile [colspan]="2" [rowspan]="2">

    <div class="col padding-20 max-height">

      <h1 class="margin-bottom-10">{{ 'configuration.general.appointment_message_label' | translate }}</h1>
      <p> {{ 'configuration.general.appointment_message_description' | translate }}</p>

    </div>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="3">
    <div class="col padding-20 max-height max-width">
      <h2 class="margin-bottom-10">{{ 'configuration.general.message' | translate }}</h2>

      <div class="row margin-bottom-10 symbol-counter">
              <textarea class="message-input max-width"
                        [(ngModel)]="appointmentMessage"
                        rows="15" cols="50"
                        name="comment"
                        maxlength="255">
              </textarea>
        <div class="label font-size-small">{{appointmentMessage?.length}} / 255</div>
      </div>

      <button mat-stroked-button color="accent" (click)="saveAppointmentMessage()">
        <mat-icon>save</mat-icon>
        {{ 'configuration.general.save' | translate }}
      </button>
    </div>
  </mat-grid-tile>

</mat-grid-list>

<hr>

<mat-grid-list class="margin-top-20" cols="4" rowHeight="150px">

  <mat-grid-tile [colspan]="2" [rowspan]="2">

    <div class="col padding-20 max-height">

      <h1 class="margin-bottom-10">{{ 'configuration.general.social_media_label' | translate }}</h1>
      <p> {{ 'configuration.general.social_media_description' | translate }} </p>

    </div>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <div class="col padding-20 max-height max-width">
      <h2 class="margin-bottom-10"> Facebook </h2>

      <div class="row justify-content-center">
        <div class="sized-box-width-100">
          <img class="social-icons" src="../../assets/images/facebook-icon.png"/>
        </div>
        <input [(ngModel)]="facebook" type="text" class="text-input max-width" maxlength="100"/>
      </div>

      <div class="sized-box-height-20"></div>

      <h2 class="margin-bottom-10"> Instagram </h2>

      <div class="row justify-content-center margin-bottom-10">
        <div class="sized-box-width-100">
          <img class="social-icons" src="../../assets/images/instagram-icon.png"/>
        </div>
        <input [(ngModel)]="instagram" type="text" class="text-input max-width" maxlength="100"/>
      </div>
      <button mat-stroked-button color="accent" (click)="saveSocialMedia()">
        <mat-icon>save</mat-icon>
        {{ 'configuration.general.save' | translate }}
      </button>
    </div>


  </mat-grid-tile>

</mat-grid-list>

<hr>

<mat-grid-list class="margin-top-20" cols="4" rowHeight="150px">

  <mat-grid-tile [colspan]="2" [rowspan]="2">

    <div class="col padding-20 max-height max-width">

      <h1 class="margin-bottom-10"> {{ 'configuration.general.contact_info_label' | translate }} </h1>
      <p> {{ 'configuration.general.contact_info_description' | translate }}</p>

    </div>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <div class="col padding-20 max-width max-height">

      <h2 class="margin-bottom-10"> {{ 'configuration.general.city' | translate }} </h2>
      <div class="row justify-content-center">
        <input [(ngModel)]="contactInfo.city" type="text" class="text-input max-width" maxlength="100"/>
      </div>
      <div class="sized-box-height-20"></div>

      <h2 class="margin-bottom-10"> {{ 'configuration.general.address' | translate }} </h2>
      <div class="row justify-content-center">
        <input [(ngModel)]="contactInfo.address" type="text" class="text-input max-width" maxlength="100"/>
      </div>
      <div class="sized-box-height-20"></div>

      <h2 class="margin-bottom-10"> {{ 'configuration.general.phone' | translate }} </h2>
      <div class="row justify-content-center">
        <input [(ngModel)]="contactInfo.phoneNumber" type="text" class="text-input max-width" maxlength="100"/>
      </div>
      <div class="sized-box-height-20"></div>
      <button mat-stroked-button color="accent" (click)="saveContactInfo()">
        <mat-icon>save</mat-icon>
        {{ 'configuration.general.save' | translate }}
      </button>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <div *ngIf="gitInfo$ | async as gitInfo">
      <p>Branch : {{ gitInfo.gitBranch }}</p>
      <p>BuildTime : {{ gitInfo.gitBuildTime }}</p>
      <p>GitCommitId : {{ gitInfo.gitCommitId }}</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<app-notification></app-notification>
