<div [ngSwitch]="page">

  <div class="team-card-wrapper" *ngSwitchCase="page" >

    <div class="flip-card" *ngFor="let barber of barbers" [@slideInOut]>

      <div class="flip-card-inner">

        <div class="flip-card-front">
          <img class="barber-image" src="{{barber?.picture}}" alt="Image">

          <div class="barber-info">
            <div class="name">
              {{barber.firstName}} {{barber.lastName}}
            </div>

            <div class="social-info">
              <img src="../../assets/images/instagram-icon.png"/>


              <p> Steven.stevens </p>
            </div>
          </div>
        </div>

        <div class="flip-card-back">
          <p class="back-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna wirl aliqua. Up exlaborum incididunt quis nostrud exercitatn.</p>

          <button class="back-card-button"> {{'bookingMessage' | translate}} </button>
        </div>
      </div>
    </div>

  </div>

  <div class="navigation-buttons-container" #paginator>
    <div *ngFor="let page of pages; let i = index" [attr.data-index]="i" id="{{i}}"
         class="navigation-button_{{page.active}} ripple" (click)="switchPage(i)">

    </div>
  </div>
</div>
