<form [formGroup]="myForm">
  <div mat-dialog-title>
    Work days
    <div mat-dialog-content>
      <div class="row max-width justify-content-end">
        <button mat-button (click)="add()">
  <span class="material-icons">
    add
  </span> Add new
        </button>
      </div>
  </div>


    <mat-grid-list cols="11" rowHeight="50px">

      <mat-grid-tile [colspan]="3">Date</mat-grid-tile>
      <mat-grid-tile [colspan]="2" >From</mat-grid-tile>
      <mat-grid-tile [colspan]="2" >To</mat-grid-tile>
      <mat-grid-tile >
        <span class="material-icons">
            home
        </span>
      </mat-grid-tile>
      <mat-grid-tile >
        <span class="material-icons">
            edit
        </span>
      </mat-grid-tile>
      <div formArrayName="workDays">
        <div *ngFor="let workDay of workDays.controls; let i = index" [formGroupName]="i">
          <mat-grid-tile [colspan]="3">
            <input formControlName="day" type="date">
          </mat-grid-tile>
          <div *ngIf="workDay.value.notWorking">
            <mat-grid-tile [colspan]="4">
            <span class="material-icons">
            home
            </span> Not working
            </mat-grid-tile>
          </div>
          <div *ngIf="!workDay.value.notWorking">
            <mat-grid-tile [colspan]="2">
              <input formControlName="from" type="time">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
              <input formControlName="to" type="time">
            </mat-grid-tile>
          </div>
          <mat-grid-tile>
            <mat-slide-toggle formControlName="notWorking"></mat-slide-toggle>
          </mat-grid-tile>
          <mat-grid-tile >
            <button (click)="delete(i)">
        <span class="material-icons">
            delete
        </span>
            </button>
          </mat-grid-tile>
        </div>
      </div>

    </mat-grid-list>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="myForm" (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="myForm.invalid" [mat-dialog-close]="myForm" cdkFocusInitial>Save</button>
  </div>
</form>
