<div class="{{data.theme}}">

  <mat-card-content>
    <div *ngFor="let service of data.services; let i = index;">

      <div *ngIf="!service.deleted" class="flex-grid">

        <div class="another-col">
          <img #something class="picture2" src="{{service.picture}}"/>

          <input id="{{service.id}}" type="file" id="img" (change)="onFileChangedService($event, service)" multiple #element/>
          <label for="img">choose a file</label>

          <button mat-raised-button class="edit-button3" (click)="onUploadService(service)">
            <mat-icon > cloud_upload </mat-icon>
          </button>
        </div>

        <div class="another-col">
          <div class="service">
            <mat-form-field class="service-col" appearance="outline">
              <mat-label>Service</mat-label>
              <input matInput type="text" [(ngModel)]="service.serviceType">
            </mat-form-field>

            <mat-form-field class="service-col duration" appearance="outline">
              <mat-label>Duration</mat-label>
              <input matInput type="number" [(ngModel)]="service.duration">
            </mat-form-field>

            <mat-form-field class="service-col price" appearance="outline">
              <mat-label>Price</mat-label>
              <input matInput type="text" [(ngModel)]="service.priceBGN">
            </mat-form-field>

            <button class="service-col" mat-button matSuffix mat-icon-button aria-label="Clear"
                    (click)="deleteService(service)">
              <mat-icon>close</mat-icon>
            </button>
          </div>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea class="description" matInput
                      [(ngModel)]="service.description"></textarea>
          </mat-form-field>
        </div>

      </div>


    </div>

    <div class="dialog-action-buttons">
      <button mat-raised-button color="warn" (click)="addService()">
        add
      </button>

      <button mat-raised-button color="primary" [mat-dialog-close]="servicesToBeUploaded" >
        ok
      </button>
    </div>

  </mat-card-content>
</div>
