<div class="col max-height">
  <div class="row max-width justify-content-end">
    <button mat-icon-button [mat-dialog-close]="servicesToBeUploaded">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div style="overflow: auto;" class="flex-1">

    <div *ngFor="let service of data.services; let i = index;">

      <div class="row flex-space-between">
        <div class="col">

          <img class="picture" src="{{service.picture}}"/>

          <input id="{{service.id}}" class="display-none" type="file" (change)="onFileChangedService($event, service)"
                 multiple #element/>

          <div class="row align-items-center">
            <button class="upload-btn"
                    mat-stroked-button (click)="onUploadService(service)">
              <span class="choose-file-label"> Choose file... </span>
            </button>

            <label class="file-chosen-label"> No file chosen </label>
          </div>
        </div>

        <div class="col">
          <app-service-details [service]="service"></app-service-details>

          <div class="col max-width">
            <h2>Description</h2>
            <textarea class="front-page-message-input max-width" rows="15" cols="50" [(ngModel)]="service.description"
                      name="comment"></textarea>
          </div>
        </div>

        <div class="sized-box-width-20"></div>
      </div>

      <hr/>
    </div>

  </div>

  <div class="row max-width justify-content-end">
    <button mat-fab color="warn" (click)="addService()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
