<hr/>

<div class="row max-width justify-content-start">

  <div class="sized-box-width-20"></div>

  <button (click)="add()" style="padding: 5px 20px;" mat-raised-button color="primary">
    <mat-icon> add</mat-icon>
    <span>Add New Barber</span>
  </button>
</div>

<div *ngIf="loading" class="col justify-content-center vh-80">
  <mat-spinner></mat-spinner>
</div>

<div *ngFor="let barber of barbers">

  <app-barber-view [barber]="barber"></app-barber-view>
</div>

<app-notification></app-notification>


