/*section {*/
/*  background: #EEEEEE 0 0 no-repeat padding-box;*/
/*  min-height: 100%;*/
/*}*/

/*.contact-box {*/
/*  padding: 20px;*/
/*  height: 70%;*/
/*  background-color: #2f2f2f;*/
/*}*/

/*.contacts-logo {*/
/*  border: 1px solid whitesmoke;*/
/*  width: 175px;*/
/*  height: 175px;*/
/*  padding: 10px;*/
/*  text-align: center;*/

/*  background-size: contain;*/
/*}*/

/*.logo {*/
/*  height: 100%;*/
/*}*/

/*.contact-info {*/
/*  width: 60%;*/
/*}*/

/*.map {*/
/*  min-height: 100%;*/
/*  min-width: 100%;*/
/*}*/

/*.iframe {*/
/*  width: 100%;*/
/*  height: 500px;*/

/*  border: 1px solid #212121;*/
/*}*/

/*.contact-text {*/
/*  width: 100%;*/
/*  background-color: #212121;*/
/*}*/

/*.text {*/
/*  color: white;*/
/*}*/

/*.location-icon {*/
/*  height: auto!important;*/
/*  width: auto!important;*/
/*  font-size: 100px;*/
/*  color: white;*/
/*}*/

/*@media (max-width: 1024px) {*/
/*  .location-icon {*/
/*    font-size: 50px;*/
/*  }*/
/*}*/

/*@media (max-width: 992px) {*/
/*  .col-responsive {*/
/*    font-size: 11px;*/
/*    flex-direction: column;*/
/*  }*/

/*  .compact-navigation {*/
/*    height: 70px;*/
/*  }*/

/*  .cartel-logo-responsive {*/
/*    margin: auto;*/
/*  }*/
/*}*/

/*@media (max-width: 768px) {*/
/*  .col-responsive {*/
/*    font-size: 11px;*/
/*    flex-direction: column;*/
/*  }*/

/*  .compact-navigation {*/
/*    height: 70px;*/
/*  }*/

/*  .cartel-logo-responsive {*/
/*    margin: auto;*/
/*  }*/
/*}*/

.iframe {
  width: 684px;
  height: 598px;
}

.map {
  width: 684px;
  height: 598px;
}

.info-table {
  width: 417px;
  height: 598px;
  border: 4px solid var(--main-color);

  background-color: rgba(0,0,0,0.6);
}

.info-header {
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 130.9%;
  /* or 43px */

  letter-spacing: 0.07em;

  color: #FFFFFF;

  border-bottom: 4px solid var(--main-color);
}

.work-time-header {
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 130.9%;
  /* or 43px */

  letter-spacing: 0.07em;

  color: #FFFFFF;
}

.icon {
  height: 39px;
  width: 39px;

  margin: 0 5px 0 5px;
}

.info-sub-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130.9%;
  /* or 24px */


  color: #FFFFFF;
}

.info-sub-text-brown {
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 130.9%;
  /* or 24px */


  color: #864A37;
}
