<div class="row max-width justify-content-center">

  <div class="info-table">
    <div class="info-header padding-20">
      {{'contacts.title' | translate}}
    </div>

    <div class="col justify-content-center padding-20">

      <div class="row max-width align-items-center">
        <img class="icon" src="../../../assets/images/design/icon-phone-brown.png"/>
        <div class="sized-box-width-20"></div>
        <span class="info-sub-text">{{configuration?.phoneNumber}}</span>
      </div>

      <div class="sized-box-height-20"></div>

      <div class="row max-width align-items-center">
        <img class="icon" src="../../../assets/images/design/icon-email-brown.png"/>
        <div class="sized-box-width-20"></div>
        <span class="info-sub-text">{{email}}</span>
      </div>

      <div class="sized-box-height-20"></div>

      <div class="row max-width align-items-center">
        <img class="icon" src="../../../assets/images/design/icon-location-brown.png"/>
        <div class="sized-box-width-20"></div>
        <span class="info-sub-text">{{configuration?.city | language}}, {{configuration?.address | language}}</span>
      </div>

    </div>

    <div class="col padding-20">
      <div class="row justify-content-start">
        <span class="work-time-header"> {{'contacts.working_time' | translate}}</span>
      </div>

      <div class="sized-box-height-20"></div>

      <div class="col">
        <span class="info-sub-text-brown">
          ВТОРНИК ДО ПЕТЪК:
        </span>
        <div class="sized-box-height-10"></div>
        <span class="info-sub-text">10:00 - 19:00 часа</span>
      </div>

      <div class="sized-box-height-20"></div>

      <div class="col">
        <span class="info-sub-text-brown">
          СЪБОТА:
        </span>
        <div class="sized-box-height-10"></div>
        <span class="info-sub-text">10:00 - 17:00 часа</span>
      </div>

    </div>
  </div>

  <div class="sized-box-width-40"></div>
  <div class="sized-box-width-40"></div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.934352608158!2d25.621553915847837!3d43.08487547914494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a927765ef32eb1%3A0x4951137eda837927!2sBarbershop%20Cartel%20Club!5e0!3m2!1sen!2sbg!4v1584120117889!5m2!1sen!2sbg"
    frameborder="0" class="iframe" allowfullscreen="" aria-hidden="false" tabindex="0">

  </iframe>
</div>
