button {
  cursor: pointer;
}

.calendar-wrapper {
  display: grid;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.calendar {
  /*height: 60%;*/
  /*border: 1px solid white;*/
}

.header {
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.row {
  color: white;
}

.grid-wrapper {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.nav-button {
  /*border: 1px solid white;*/
  /*border-radius: 100px;*/
  background: transparent;
  color: white;
  padding: 20px 60px;
  /*background-image: url('../../assets/images/barber-knife.png');*/
  /*background-size: 30px 30px;*/
  /*background-repeat: no-repeat;*/
  /*background-position: left;*/
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.nav-button:disabled {
  background-color: white;
  color: black;
}

.half-booked {

  background: -webkit-linear-gradient(right, black 50%, white 50%);
  background: -moz-linear-gradient(right, black 50%, white 50%);
  background: -ms-linear-gradient(right, black 50%, white 50%);
  background: linear-gradient(right, black 50%, white 50%);
  color: red;
}

.booked {
  background-color: white;
  color: black;
}

.minutes {
  border: 1px solid red;
  height: 30px;
}

.minute {
  color: black;
  width: 50%;
  float: left;
  padding: 15px 0;
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.col {
  padding: 10px;
}

.col:nth-child(odd) {
  border-left: 1px solid #ae9774;
}

.col:nth-child(1){
  border-left: none;
}

.col:nth-child(even) {
  border-left: 1px solid #ae9774;
}

.grid-col {
  text-align: center;
}

.hour-button {
  border: 1px solid #7b6446;
}

.hour-button:hover {
  background-color: #ae9774;
}

.mini-table-header {
  text-align: center;
  margin:20px 0;
  width: 100%;
}

.calendar-navigation{
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.side-gap {
  margin: 0 20px;
}

.golden-border {
  border: 1px solid #ae9774;
}

.hour-button:disabled{
  background-color: #1e1e1e;
  color:whitesmoke;
  transition: 1s;
}

.dialog-grid{
  display: grid;
}

.close-button{
  float: right;
}

.flex{
  display: flex;
}

.facebook-approve-button{
  width: 100%;
  background-color: #4267b2;
}

.mat-option ng-star-inserted mat-selected mat-active {
  color: #a2793e !important;
}
