<!--<div class="calendar-wrapper">-->
<!--  <mat-card class="calendar-navigation">-->

<!--    <div class="cartel-theme">-->
<!--      <mat-form-field class="side-gap">-->
<!--        <mat-label>-->
<!--          <mat-icon>person</mat-icon>-->
<!--          Barber-->
<!--        </mat-label>-->
<!--        <mat-select [(ngModel)]="selectedBarber">-->
<!--          <mat-option> &#45;&#45;</mat-option>-->

<!--          <mat-option *ngFor="let b of barbers" [value]="b" (click)="getWeekForBarber(selectedBarber)">-->
<!--            {{ b.firstName }}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    <div class="cartel-theme">-->
<!--      <mat-form-field class="side-gap">-->
<!--        <mat-label> Service</mat-label>-->
<!--        <mat-select [(ngModel)]="selectedService">-->
<!--          <mat-option> &#45;&#45;</mat-option>-->

<!--          <mat-option *ngFor="let s of services" [value]="s">-->
<!--            {{s.serviceType + ' - ' + s.priceBGN + 'лв.'}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    <div class="cartel-theme">-->
<!--      <mat-form-field class="side-gap ">-->
<!--        <input matInput [matDatepicker]="picker" placeholder="Date" (dateChange)="changeWeek($event)">-->
<!--        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--        <mat-datepicker touchUi #picker></mat-datepicker>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    <button class="golden-border side-gap" mat-button>-->
<!--        <span *ngIf="!isObjectEmpty(selectedTime) else empty">-->
<!--          {{selectedTime?.date | date: 'dd MMMM yyyy'}}-->
<!--          {{selectedTime?.hour.hour}}-->
<!--        </span>-->

<!--      <ng-template #empty>-->
<!--        No time selected yet.-->
<!--      </ng-template>-->
<!--    </button>-->

<!--    <button class="golden-border side-gap" mat-button (click)="prevWeek()">-->
<!--      <mat-icon>keyboard_arrow_left</mat-icon>-->
<!--      prev week-->
<!--    </button>-->

<!--    <button class="golden-border side-gap" mat-button (click)="nextWeek()">-->
<!--      next week-->
<!--      <mat-icon>keyboard_arrow_right</mat-icon>-->
<!--    </button>-->

<!--    <button class="side-gap" mat-raised-button color="warn" (click)="openDialog()" [disabled]="isAllOkay()"> Book now-->
<!--    </button>-->

<!--  </mat-card>-->

<!--  <mat-card class="calendar">-->
<!--    <div class="grid-wrapper">-->

<!--      <div class="col" *ngFor="let day of week?.days">-->
<!--        <div class="mini-table-header">-->
<!--          <p>  {{ day.date | date: 'dd MMMM yyyy' }} </p>-->
<!--        </div>-->

<!--        <div class="grid">-->
<!--          <div class="grid-col" *ngFor="let hour of day.hours">-->
<!--            <button mat-button class="hour-button" (click)="setSelectedHour(hour, day.date)"-->
<!--                    [disabled]="hour.available">-->
<!--              {{ hour.hour.replace(':00', '') }}-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </mat-card>-->
<!--</div>-->

<app-booking [barbers]="barbers" [editable]="true"></app-booking>
