<div class="container">
  <div class="form-wrapper">
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="email"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="register()"> register </button>
    </div>

  </div>

</div>
