* {
  margin: 0;
  padding: 0;
}

section {
  background: #EEEEEE 0 0 no-repeat padding-box;
  min-height: 100%;
}

.title-wrapper {
  align-self: center;
}

.title-wrapper > p:nth-child(1) {
  text-align: center;
  font: normal normal bold 25px/54px Roboto;
  letter-spacing: 0;
  color: #000000;
  text-transform: uppercase;
}

.title-wrapper > p:nth-child(2) {
  text-align: center;
  font: normal normal normal 25px/24px Roboto;
  letter-spacing: 0.3px;
  color: #000000B3;
  opacity: 1;

  margin: 0;
}

.sticky-footer {
  grid-row: 4;
}

.logo {
  height: 100%;
}

@media (max-width: 992px) {
  .compact-navigation {
    height: 70px;
  }
}

@media (max-width: 768px) {
  .compact-navigation {
    height: 70px;
  }
}
