<div class="light-theme">

  <h1 *ngIf="isCreatingService" mat-dialog-title> {{ 'configuration.add' | translate}} </h1>
  <h1 *ngIf="!isCreatingService" mat-dialog-title> {{ 'configuration.edit' | translate}} </h1>

  <form [formGroup]="myForm">
    <mat-dialog-content>

      <input hidden matInput>
      <input hidden type="file" (change)="changed($event)" #chooseFile/>

      <div class="row flex-space-between">

        <div class="col justify-content-center">
          <div class="profile-picture" [style.backgroundImage]="'url(' + service.picture + ')'"></div>
          <div class="row">
            <button type="button" (click)="changeImage()" class="remove-picture-btn edit-button" mat-raised-button
                    color="primary">
              {{ 'configuration.edit_picture' | translate}}
            </button>
            <button type="button" (click)="removeImage()" class="remove-picture-btn" mat-raised-button color="warn">
              {{ 'configuration.remove_picture' | translate}}
            </button>
          </div>
        </div>

        <div class="sized-box-width-20"></div>

        <div class="col flex-1">

          <mat-form-field>
            <mat-label>{{ 'configuration.services.title' | translate}}</mat-label>
            <input matInput formControlName="serviceTitle" maxlength="100">
          </mat-form-field>

          <div class="sized-box-height-20"></div>

          <mat-form-field>
            <mat-label>{{ 'configuration.services.description' | translate}}</mat-label>
            <textarea matTextareaAutosize matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="6"
                      cdkAutosizeMaxRows="6"
                      formControlName="description"
                      maxlength="255"></textarea>
            <mat-error *ngIf="description.invalid" align="end"> {{ description.value?.length }} / 255</mat-error>
            <mat-hint *ngIf="description.valid" align="end"> {{ description.value?.length }} / 255</mat-hint>
          </mat-form-field>

        </div>
      </div>

    </mat-dialog-content>
    <div mat-dialog-actions align="end">
      <button mat-button (click)="onCancel()">{{ 'configuration.cancel' | translate}} </button>
      <button mat-button (click)="onSave()" [disabled]="myForm.invalid" [mat-dialog-close]="service">{{ 'configuration.save' | translate}} </button>
    </div>
  </form>
</div>
