<div class="light-theme">

  <h1 *ngIf="isCreatingService" mat-dialog-title> Add </h1>
  <h1 *ngIf="!isCreatingService" mat-dialog-title> Edit </h1>

  <form [formGroup]="myForm">
    <mat-dialog-content>

      <input hidden matInput>
      <input hidden type="file" (change)="changed($event)" #chooseFile/>

      <div class="row flex-space-between">

        <div class="col justify-content-center">
          <div class="profile-picture" [style.backgroundImage]="'url(' + service.picture + ')'"></div>
          <div class="row">
            <button type="button" (click)="changeImage()" class="remove-picture-btn edit-button" mat-raised-button
                    color="primary">
              Edit picture
            </button>
            <button type="button" (click)="removeImage()" class="remove-picture-btn" mat-raised-button color="warn">
              Remove picture
            </button>
          </div>
        </div>

        <div class="sized-box-width-20"></div>

        <div class="col flex-1">

          <mat-form-field>
            <mat-label>Service Title</mat-label>
            <input matInput formControlName="serviceTitle">
          </mat-form-field>

          <div class="sized-box-height-20"></div>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matTextareaAutosize matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="6"
                      cdkAutosizeMaxRows="6"
                      formControlName="description" ></textarea>
            <mat-error *ngIf="description.invalid" align="end"> {{ description.value?.length }} / 255</mat-error>
            <mat-hint *ngIf="description.valid" align="end"> {{ description.value?.length }} / 255</mat-hint>
          </mat-form-field>

        </div>
      </div>

    </mat-dialog-content>
    <div mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="service" (click)="onNoClick()">Cancel</button>
      <button mat-button [disabled]="myForm.invalid" [mat-dialog-close]="service" cdkFocusInitial>Save</button>
    </div>
  </form>
</div>
