<div class="main" [@Fade]>
  <div class="col max-height padding-sides">
    <div class="sized-box-height-20"></div>
    <nav class="row flex-space-between align-items-center">
      <img class="logo" [routerLink]="''" src="../../../assets/images/logo.png"/>

      <app-navigation></app-navigation>
    </nav>

    <div class="col justify-content-center title-wrapper flex-1">
      <span class="title"> {{frontPageMessage}} </span>

      <div class="sized-box-height-50"></div>

      <button mat-raised-button class="booking-button" routerLink="/book-now">
        <span>{{'bookingMessage' | translate}}</span>
      </button>
    </div>

    <div class="row justify-content-start">
      <div class="sized-box-width-40"></div>

      <div class="col">

        <a href="{{socialMedia.facebook}}">
          <img class="social-icons" src="../../../assets/images/facebook-icon.png"/>
          <div class="sized-box-height-20"></div>
        </a>

        <a href="{{socialMedia.instagram}}">
          <img class="social-icons" src="../../../assets/images/instagram-icon.png"/>
          <div class="sized-box-height-20"></div>
        </a>

      </div>
    </div>

  </div>
</div>
