<div [ngSwitch]="page" class="col max-height justify-content-center align-items-center">

  <div class="team-card-wrapper" *ngSwitchCase="page">

    <div class="flip-card" *ngFor="let barber of pages[page]?.content" [@slideInOut]>

      <div class="flip-card-inner">

        <div class="flip-card-front">
          <div class="picture" [style.backgroundImage]="'url(' + barber.picture + ')'"></div>

          <div class="barber-info">
            <div class="name">
              {{barber.firstName}} {{barber.lastName}}
            </div>

            <div class="social-info">
              <img src="../../../../assets/images/instagram-icon.png"/>


              <p> Steven.stevens </p>
            </div>
          </div>
        </div>

        <div class="flip-card-back">
          <p class="back-card-text"> {{barber.description}} </p>

          <button [routerLink]="'/book-now'" class="back-card-button"> {{'bookingMessage' | translate}} </button>

          <div class="row justify-content-center padding-20">
            <a *ngIf="barber.instagram" class="col" [href]="barber.instagram">
              <img src="../../../../assets/images/instagram-icon.png"/>
            </a>
            <a *ngIf="barber.facebook" class="col" [href]="barber.facebook">
              <img src="../../../../assets/images/facebook-icon.png"/>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="navigation-buttons-container" #paginator>
    <div *ngFor="let page of pages; let i = index" [attr.data-index]="i" id="{{i}}"
         class="navigation-button_{{page.active}} ripple" (click)="switchPage(i)">

    </div>
  </div>
</div>
