<!--<div [ngSwitch]="page" class="paginator col justify-content-center align-items-center">-->

<!--  <div class="team-card-wrapper" *ngSwitchCase="page">-->

<!--    <div *ngFor="let barber of pages[page]?.content" [@slideInOut]>-->
<!--&lt;!&ndash;      <app-barber-flip-card #flipper [barber]="barber"> </app-barber-flip-card>&ndash;&gt;-->


<!--    </div>-->

<!--  </div>-->

<!--  <div class="navigation-buttons-container">-->
<!--    <div *ngFor="let page of pages; let i = index" [attr.data-index]="i" id="{{i}}"-->
<!--         class="navigation-button_{{page.active}} ripple" (click)="switchPage(i)">-->

<!--    </div>-->
<!--  </div>-->

<!--  <button class="next" (click)="switchPage(page + 1)"> &#10095; </button>-->
<!--  <button class="prev" (click)="switchPage(page - 1)"> &#10094; </button>-->
<!--</div>-->
<div #container>
</div>
