<div class="main" [ngSwitch]="tab" style="overflow: hidden">

  <div *ngSwitchCase="'main'" [@slideInOut]>
    <div class="header-wrapper">
      <img class="logo" src="../../assets/images/logo.png"/>

      <ul>
        <li> <a (click)="tab = 'main'">team</a></li>
        <li> <a (click)="tab = 'services'">services</a></li>
        <li> <a (click)="tab = 'contact'">contact</a></li>
        <li>bg</li>
      </ul>

    </div>

    <div class="content-wrapper">
    <span class="content">
      Perfect gentlemn's choice
      lorem ipsum dolor sit amet
    </span>
    </div>

    <div class="booking-button-wrapper">
      <button mat-raised-button class="booking-button"><span>book now</span></button>
    </div>

    <div class="social-media-wrapper">
      <img class="social-icons" src="../../assets/images/facebook-icon.png"/>
      <img class="social-icons" src="../../assets/images/instagram-icon.png"/>
    </div>

  </div>

  <div *ngSwitchCase="'services'" [@slideInOut] class="services-wrapper">
    <div class="external-header">
      <img class="logo" src="../../assets/images/logo.png"/>

      <ul class="external-navigation">
        <li> <a (click)="tab = 'main'">team</a></li>
        <li> <a (click)="tab = 'services'">services</a></li>
        <li> <a (click)="tab = 'contact'">contact</a></li>
        <li>bg</li>
      </ul>

    </div>
    <div style="color: white; font-size: 35px"> services </div>
  </div>

  <div *ngSwitchCase="'contact'" [@slideInOut] class="contacts-wrapper">
    <div class="external-header">
      <img class="logo" src="../../assets/images/logo.png"/>

      <ul>
        <li> <a (click)="tab = 'main'">team</a></li>
        <li> <a (click)="tab = 'services'">services</a></li>
        <li> <a (click)="tab = 'contact'">contact</a></li>
        <li>bg</li>
      </ul>

    </div>
    <div style="color: white; font-size: 35px"> contact </div>
  </div>
</div>

