.main {
  background-image: url('../../assets/images/barbershop-homepage.png');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;

  padding-top: 45px;
}

ul {
  display: -webkit-box;
  justify-content: center;
  align-items: center;

  list-style-type: none;
  padding: 0;

  margin-right: 126px;
}

li {
  display: inline;
  padding: 20px;
  font: Bold 30px/37px Roboto;
  letter-spacing: 0;
  color: #FFFFFFB3;
  text-transform: uppercase;
  width: 82px;
  height: 37px;
}

.logo {
  margin-left: 138px;
  width: 201px;
  height: 200px;
}

.content-wrapper {
  width: 545px;
  height: 154px;
  text-align: center;
  font: Bold 45px/54px Roboto;
  letter-spacing: 0;
  color: #CAC8C8;
  margin: 200px auto auto auto;
}

.content {
  text-align: center;
}

.booking-button-wrapper{
  margin-top: 40px;
  text-align: center;

  padding-bottom: 130px;
}

.booking-button {
  background: #FFFFFFE6 0 0 no-repeat padding-box;

  text-align: center;
  font: Bold 30px/37px Roboto;
  letter-spacing: 0;
  color: #413F3F;

  text-transform: uppercase;

  padding: 13px 115px;
}


.booking-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;


}

.booking-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.booking-button:hover span {
  padding-right: 25px;
}

.booking-button:hover span:after {
  opacity: 1;
  right: 0;
}


.booking-button:hover {
  background: whitesmoke 0 0 no-repeat padding-box;
}

.social-media-wrapper {
  display: flex;
  flex-direction: column;
}

.social-icons {
  width: 33px;
  height: 33px;

  padding:10px 0;

  margin-left: 166px;
}

.services-wrapper {
  height: 100%;
  background: #EEEEEE 0 0 no-repeat padding-box;;
}

.contacts-wrapper {
  height: 100%;
  background: #EEEEEE 0 0 no-repeat padding-box;;
}

.external-header {
  display: flex;
  justify-content: space-between;
  align-content: center;

  padding: 25px 0;

  background-color: #212121;
}

a:hover {
  color: whitesmoke;
  cursor: pointer;
}

