<div class="main" [ngSwitch]="tab">

  <div *ngSwitchCase="'main'" [@slideInOut]>
    <div class="header-wrapper">
      <img class="logo" src="../../assets/images/logo.png"/>

      <ul>
        <li (click)="tab = 'alter'">team</li>
        <li>services</li>
        <li>contact</li>
        <li>bg</li>
      </ul>

    </div>

    <div class="content-wrapper">
    <span class="content">
      Perfect gentlemn's choice
      lorem ipsum dolor sit amet
    </span>
    </div>

    <div class="booking-button-wrapper">
      <button mat-raised-button class="booking-button"> book now</button>
    </div>

    <div class="social-media-wrapper">
      <img class="social-icons" src="../../assets/images/facebook-icon.png"/>
      <img class="social-icons" src="../../assets/images/instagram-icon.png"/>
    </div>

  </div>

  <div *ngSwitchCase="'alter'" [@slideInOut]>
    <div class="header-wrapper">
      <img class="logo" src="../../assets/images/logo.png"/>

      <ul>
        <li (click)="tab = 'main'">team</li>
        <li (click)="tab = 'alter'">services</li>
        <li>contact</li>
        <li>bg</li>
      </ul>

    </div>
    <div style="color: white; font-size: 35px"> alo </div>
  </div>
</div>

