<ng-container *ngIf="done" class="done">
  <div class="msg-container col align-items-center justify-content-center">
      <div [innerHTML]="appointmentSuccessMessage | language"></div>
  </div>
</ng-container>

<ng-container *ngIf="!done">
  <div class="final-info-container shadow new-design-theme">


    <form [formGroup]="myForm">
      <div class="col">

        <div class="col">

          <div class="row">
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>{{'booking.first_name' | translate}}</mat-label>
              <input matInput formControlName="firstName" required>
              <mat-error *ngIf="email.invalid">{{'booking.first_name_error' | translate}}</mat-error>
            </mat-form-field>

            <div class="sized-box-width-10"></div>

            <mat-form-field appearance="outline" class="half-width">
              <mat-label>{{'booking.last_name' | translate}}</mat-label>
              <input matInput formControlName="lastName" required>
              <mat-error *ngIf="email.invalid">{{'booking.last_name_error' | translate}}</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'booking.email' | translate }}</mat-label>
            <input matInput formControlName="email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="email.invalid"> {{ 'booking.email_error' | translate }} </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'booking.phone' | translate }}</mat-label>
            <input matInput formControlName="phone" type="tel" [minLength]="10" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="phone.invalid"> {{ 'booking.phone_error' | translate }} </mat-error>
          </mat-form-field>
        </div>

        <div class="sized-box-height-20"></div>

        <div class="col font">
          <!--      details-->
          <div class="row align-items-center flex-space-between">
            <div class="row align-items-center">
              <p class="font-weight-bold">{{'stepper.barber' | translate}}:</p>
              <div class="sized-box-width-10"></div>
              <span class="font-weight-bold"> {{ stepperData.firstName | language }}  {{ stepperData.lastName | language}}</span>
            </div>

            <div class="row align-items-center font-weight-bold">
              {{ stepperData.hour }},
              <div class="sized-box-width-10"></div>
              {{ stepperData.date | date:'dd MMMM'}}
              ({{ stepperData.date | date:'EEE'}})
            </div>

          </div>

          <div class="sized-box-height-20"></div>

          <mat-divider></mat-divider>

          <div class="sized-box-height-20"></div>

          <div class="col">

            <div class="row flex-space-between">

              <div class="row align-items-center">
                <p class="font-weight-bold">{{'stepper.service' | translate}}:</p>
                <div class="sized-box-width-10"></div>
                <p class="font-weight-bold">{{ stepperData.serviceTitle | language }}</p>
              </div>

              <div class="row">

                <div class="row align-items-center">
                  <div class="sized-box-width-10"></div>
                  <p class="font-weight-bold">{{ stepperData.assignmentPrice }} {{'booking.bgn' | translate}}</p>
                </div>

                <div class="sized-box-width-20"></div>

                <div class="row align-items-center">
                  <p class="font-weight-bold">{{ stepperData.assignmentDuration }} {{'booking.minutes' | translate}}</p>
                  <div class="sized-box-width-10"></div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </form>

    <div class="sized-box-height-20"></div>

    <button class="confirm-button" (click)="makeAnAppointment()" [disabled]="myForm.invalid">
      <p class="font-weight-bold">{{ 'booking.appointment_button' | translate }}</p>
    </button>

  </div>

</ng-container>
