.final-info-container {
  width: 30%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 480px;
  border: 3px solid var(--main-color);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
}

.confirm-button {
  background-color: var(--main-color);
  padding: 20px 0;
  cursor: pointer;
  border: 1px solid var(--main-color);
  color: #EEEEEE;
  transition: 0.2s;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130.9%;

  text-transform: uppercase;
}

.confirm-button:disabled {
  background-color: gray;
  padding: 20px 0;
  cursor: pointer;
  border: 1px solid darkgray;
  color: lightgray;
  transition: 0.2s;
}

.confirm-button:hover:enabled {
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
  color: black;
  transition: 0.2s;
}

.shadow {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(33, 33, 33, 0.16);
  box-shadow: 5px 5px 5px 0px rgba(33, 33, 33, 0.16);
}


.done {
  /*font-size: 50px;*/
  color: #81c519;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.done > .mat-icon {
  height: 100px;
  width: 100px;

  border: 5px solid;
  border-radius: 100px;

  font-size: 100px;
}

.go-back-btn {
  width: 100%;
  height: 100%;

  padding: 20px 40px;
  border: 1px solid black;
  cursor: pointer;
}

.hover-me {
  width: 33%;
  padding: 10px;

  border: 1px solid transparent;
  transition: 0.2s;
}

.hover-me:hover {
  border: 1px solid #212121;
}

.font {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 130.9%;
}

.main-msg, .sub-msg {
  text-transform: uppercase;
}

.main-msg {
  color: var(--main-color);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 88px;
  text-align: center;

  width: 790px;
}

.main-msg > div{
  color: white;
}

.sub-msg {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  color: white;
}

.msg-container {
  height: 50vh;
}

.font-weight-bold{
  font-weight: bold;
}

/* when auto-filling input field keep background transparent*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:valid,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
}

/* styles for the ngx-mat-intl-tel-input */
input:not(.country-search){
  bottom: 3px;
  left: 10px;
  height: 20px;
}

.mat-menu-content:not(:empty){
  max-height:250px;
}

.country-list-button{
  font-size: 0.8rem!important;
}

.country-selector {
  color: #ffffff !important;
  font-size: 18px !important;
  left: -3px !important;
  bottom: 8px !important;
  width: 102px !important;
}
